<div class="homeContainer center-align">
    <div class="page-wrap">
        <div class="shadow">
            <img src="../../../assets/images/shadow-top.png" class="imgWrapper" alt="Shadow Top">
        </div>
        <div class="bg-white"></div>
        <div class="imgWrapper">
            <img src="../../../assets/images/cliffwater.png" class="homeCliffLogo logo" alt="Cliffwater Logo">
        </div>
        <div class="headLineWrapper">
            <div class="divOutside"></div>
            <div id="headline" class="headline">Los Angeles • New York </div>
            <div class="divOutside"></div>
        </div>
        <div class="bg-white"></div>
        <div class="shadow shadowBottom">
            <img src="../../../assets/images/shadow-bottom.png" class="imgWrapper" alt="Shadow Bottom">
        </div>
    </div>
</div>
