$white_color: #ffffff;
$home_bg_color: #f4f4f4;
$home_border_color: #808080;

.homeContainer {
    position: relative;
    height: 100%;
    width: 100%;

    .page-wrap {
        width: 100%;
        position: fixed;
        background: $white_color !important;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .shadow {
            width: 100%;

            &.shadowBottom {
                background-color: $home_bg_color;
            }
        }

        .homeCliffLogo {
            height: 4.375rem;
        }

        .divOutside {
            border-bottom: 1px $home_border_color solid;
            vertical-align: middle !important;
            text-align: center;
            width: 310px;
            padding-bottom: 1px;
            margin: auto;
            max-width: 310px;
        }

        .headline {
            height: 32px;
            line-height: 32px;
            text-align: center;
            vertical-align: middle;
            font-size: 15px;
            min-height: 32px;
        }

        .bg-white {
            height:100px;
        }

    }
}