<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!--<app-outer-header (userDetail)="getUserDetail($event)" *ngIf="!isLoggedIn"></app-outer-header>
<app-inner-header (userDetail)="getUserDetail($event)" *ngIf="isLoggedIn"></app-inner-header>-->
<app-outer-header *ngIf="!isLoggedIn && !isAccountPage"></app-outer-header>
<app-inner-header *ngIf="isLoggedIn && !isAccountPage"></app-inner-header>
<main [class.logged_out]="!isLoggedIn" class="contentSec">
    <router-outlet></router-outlet>
</main>
<app-outer-footer *ngIf="!isLoggedIn && !isAccountPage"></app-outer-footer>
<app-inner-footer *ngIf="isLoggedIn && !isAccountPage"></app-inner-footer>
