
.researchPubContainer {

    //Scrollable fixed header styles
    .researchSubNav {
        display: flex;
        position: relative;
        overflow-x: auto;
        overflow-y: hidden;
        height: 48px;
        background-color: #fff;
        margin: 0 auto;
        width: 100%;
        white-space: nowrap;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        padding: 0;
        list-style-type: none;
        z-index: 99;

            &.default {
                width: auto;
            }

            &.fixed {
                position: fixed !important;
                top: 0px !important;
                left: 0;
                width: 100%;
            }

            li {
                flex-grow: 1;
                display: block;
                float: left;
                text-align: center;
                line-height: 48px;
                height: 48px;
                padding: 0;
                margin: 0;
                text-transform: uppercase;
                text-overflow: ellipsis;
                overflow: hidden;
                letter-spacing: .8px;
                width: 15%;
                min-width: 80px;
                border: 1px solid rgba(160, 160, 160, 0.2);

                    a {
                        display: block;
                        width: 100%;
                        height: 100%;
                        padding: 5px 0 0 5px !important;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        color: #123448 !important;
                        line-height: 19px;
                        text-transform: none;
                        font-weight: 400;

                        &.active {
                            font-weight: 500;
                            background-color: #123448;
                            color: white !important;
                            border: none;
                        }
                    }
            }
    }

    .table-header {
        height: 4em;
        padding-left: 24px;
        padding-right: 14px;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        display: flex;
        -webkit-display: flex;
        border-bottom: solid 1px #DDDDDD;

        .table-title {
            font-size: 20px;
            color: #000;
        }

        .actions {
            display: -webkit-flex;
            display: flex;
            margin-left: auto;
        }
    }

    .card  {
        height: 551px;
    }

    .pdf-tool-bar {
        a:first-child {
            margin-right: 6px;
        }
    }
}