<div class="container-fluid researchPubContainer">
    <div class="row">&nbsp;</div>
    <!-----------------------Scrollable Fixed Header Section--------------------------->
    <div class="row">
        <div class="col hide-on-small-only m12">
            <ul class="section  table-of-contents researchSubNav default">
                <li class="hoverable"><a href="#AssetAllocationDocuments" class="waves-effect">Asset <br> Allocation</a></li>
                <li class="hoverable"><a href="#PEFundDocuments" class="waves-effect">Private <br> Equity</a></li>
                <li class="hoverable"><a href="#PrivateDebt" class="waves-effect">Private <br> Debt</a></li>
                <li class="hoverable"><a href="#RealAssetsDocuments" class="waves-effect">Real <br> Assets</a></li>
                <li class="hoverable"><a href="#HedgeFundDocuments" class="waves-effect">Hedge <br> Funds</a></li>
                <li class="hoverable"><a href="#MediaLibraryDocuments" class="waves-effect">Media <br>Library</a></li>
            </ul>
        </div>
    </div>

    <div class="section scrollspy" id="AssetAllocationDocuments">
        <div class="row">
            <div class="col s12 l6">
                <div class="card material-table z-depth-3 hoverable tableSec">
                    <div class="table-header">
                        <span class="table-title">Research - Asset Allocation</span>
                        <div class="actions">
                            <a href="#" data-position="bottom" data-delay="50" data-tooltip="Search reports" class="tooltipped search-toggle waves-effect btn-flat nopadding" data-tooltip-id="e6b4ee41-0b27-ab8d-df04-1a5ecfe11152">
                                <i class="material-icons">search</i>
                            </a>
                        </div>
                    </div>
                    <!----------------Asset Allocation - table starts here--------------->
                    <ngx-datatable [headerHeight]="60" 
                        [rows]="assetAllocationDataRows" 
                        [limit]="5" 
                        [footerHeight]="50"
                        [columnMode]="'flex'"
                        [rowHeight]="'auto'"
                        class="material">
                    <ngx-datatable-column  [resizeable]="false" name="Date" [flexGrow]="0.5" [sortable]="true">
                        <ng-template let-column="column" let-sort="sortFn" let-sortDir="sortDir" ngx-datatable-header-template>
                            <span (click)="sort($event, sortDir, sortFn)">Date</span>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.createdAt | date: 'dd/MM/yyyy'}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [resizeable]="false" name="Fund" [flexGrow]="0.75" cellClass="underline-link" [sortable]="true">
                        <ng-template let-column="column" let-sort="sortFn" let-sortDir="sortDir" ngx-datatable-header-template>
                            <span (click)="sort($event, sortDir, sortFn)">Fund</span>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.title}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [resizeable]="false" name="Action" [flexGrow]="0.5" headerClass="center-align" cellClass="center-align">
                        <ng-template let-column="column" ngx-datatable-header-template>
                            Action
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <a class="hoverable btn-floating btn-small waves-effect waves-light white">
                                <i class='material-icons btnIcon'>view_headline</i>
                            </a><span>&nbsp;&nbsp;</span>
                            <a class="hoverable btn-floating btn-small waves-effect waves-light white">
                                <i class='material-icons btnIcon'>file_download</i>
                            </a>
                        </ng-template>
                    </ngx-datatable-column>
                    </ngx-datatable>
                    
                </div>
            </div>
            <div class="col s12 l6">
                <div class="card material-table z-depth-3 hoverable tableSec">
                    <div class="table-header">
                        <span class="table-title">Asset Allocation, Back to Basics</span>
                    </div>
                    <div class="card-action">
                        <div class="preview-sec">
                            <ngx-extended-pdf-viewer 
                                [src]="'assets/example.pdf'" 
                                useBrowserLocale="true" 
                                height="400px"
                                [zoom]="auto" 
                                [handTool] = "true"
                                [showZoomButtons]="true" 
                                [showPagingButtons]="true"
                                [showPresentationModeButton]="false" 
                                [showOpenFileButton]="false" 
                                [backgroundColor]="black"
                            ></ngx-extended-pdf-viewer>
                        </div>
                    </div>
                    <div class="pdf-tool-bar center-align">
                        <a target="_blank" href="#" class="hoverable waves-effect waves-light btn btn-primary">
                            <i class="material-icons left">view_headline</i>Read
                        </a>
                        <a href="#" class="hoverable waves-effect waves-light btn btn-primary">
                            <i class="material-icons left">file_download</i>Download
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section scrollspy" id="PEFundDocuments">
        <div class="row">
            <div class="col s12 l6">
                <div class="card material-table z-depth-3 hoverable tableSec">
                    <div class="table-header">
                        <span class="table-title">Research - Private Equity
                            </span>
                        <div class="actions">
                            <a href="#" data-position="bottom" data-delay="50" data-tooltip="Search reports" class="tooltipped search-toggle waves-effect btn-flat nopadding" data-tooltip-id="e6b4ee41-0b27-ab8d-df04-1a5ecfe11152">
                                <i class="material-icons">search</i>
                            </a>
                        </div>
                    </div>
                     <!----------------PE - table starts here--------------->
                     <ngx-datatable [headerHeight]="60" 
                        [rows]="pEFundDataRows" 
                        [limit]="5" 
                        [footerHeight]="50"
                        [columnMode]="'flex'"
                        [rowHeight]="'auto'"
                        class="material">
                        <ngx-datatable-column  [resizeable]="false" name="Date" [flexGrow]="0.5" [sortable]="true">
                            <ng-template let-column="column" let-sort="sortFn" let-sortDir="sortDir" ngx-datatable-header-template>
                                <span (click)="sort($event, sortDir, sortFn)">Date</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.createdAt | date: 'dd/MM/yyyy'}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [resizeable]="false" name="Fund" [flexGrow]="0.75" cellClass="underline-link" [sortable]="true">
                            <ng-template let-column="column" let-sort="sortFn" let-sortDir="sortDir" ngx-datatable-header-template>
                                <span (click)="sort($event, sortDir, sortFn)">Fund</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.title}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [resizeable]="false" name="Action" [flexGrow]="0.5" headerClass="center-align" cellClass="center-align">
                            <ng-template let-column="column" ngx-datatable-header-template>
                                Action
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <a class="hoverable btn-floating btn-small waves-effect waves-light white">
                                    <i class='material-icons btnIcon'>view_headline</i>
                                </a><span>&nbsp;&nbsp;</span>
                                <a class="hoverable btn-floating btn-small waves-effect waves-light white">
                                    <i class='material-icons btnIcon'>file_download</i>
                                </a>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
            <div class="col s12 l6">
                <div class="card material-table z-depth-3 hoverable tableSec">
                    <div class="table-header">
                        <span class="table-title">Private Asset Research Activity Report - 1Q 2020</span>
                    </div>
                    <div class="card-action">
                        <div class="preview-sec">
                            <ngx-extended-pdf-viewer 
                                [src]="'assets/example1.pdf'" 
                                useBrowserLocale="true" 
                                height="400px"
                                [zoom]="auto" 
                                [handTool] = "true"
                                [showZoomButtons]="true" 
                                [showPagingButtons]="true"
                                [showPresentationModeButton]="false" 
                                [showOpenFileButton]="false" 
                                [backgroundColor]="black"
                            ></ngx-extended-pdf-viewer>
                        </div>
                    </div>
                    <div class="pdf-tool-bar center-align">
                        <a target="_blank" href="#" class="hoverable waves-effect waves-light btn btn-primary">
                            <i class="material-icons left">view_headline</i>Read
                        </a>
                        <a href="#" class="hoverable waves-effect waves-light btn btn-primary">
                            <i class="material-icons left">file_download</i>Download
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section scrollspy" id="PrivateDebt">
        <div class="row">
            <div class="col s12 l6">
                <div class="card material-table z-depth-3 hoverable tableSec">
                    <div class="table-header">
                        <span class="table-title">Research - Private Debt
                            </span>
                        <div class="actions">
                            <a href="#" data-position="bottom" data-delay="50" data-tooltip="Search reports" class="tooltipped search-toggle waves-effect btn-flat nopadding" data-tooltip-id="e6b4ee41-0b27-ab8d-df04-1a5ecfe11152">
                                <i class="material-icons">search</i>
                            </a>
                        </div>
                    </div>
                     <!----------------Private Debt - table starts here--------------->
                     <ngx-datatable [headerHeight]="60" 
                        [rows]="privateDebtDataRows" 
                        [limit]="5" 
                        [footerHeight]="50"
                        [columnMode]="'flex'"
                        [rowHeight]="'auto'"
                        class="material">
                        <ngx-datatable-column  [resizeable]="false" name="Date" [flexGrow]="0.5" [sortable]="true">
                            <ng-template let-column="column" let-sort="sortFn" let-sortDir="sortDir" ngx-datatable-header-template>
                                <span (click)="sort($event, sortDir, sortFn)">Date</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.createdAt | date: 'dd/MM/yyyy'}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [resizeable]="false" name="Fund" [flexGrow]="0.75" cellClass="underline-link" [sortable]="true">
                            <ng-template let-column="column" let-sort="sortFn" let-sortDir="sortDir" ngx-datatable-header-template>
                                <span (click)="sort($event, sortDir, sortFn)">Fund</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.title}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [resizeable]="false" name="Action" [flexGrow]="0.5" headerClass="center-align" cellClass="center-align">
                            <ng-template let-column="column" ngx-datatable-header-template>
                                Action
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <a class="hoverable btn-floating btn-small waves-effect waves-light white">
                                    <i class='material-icons btnIcon'>view_headline</i>
                                </a><span>&nbsp;&nbsp;</span>
                                <a class="hoverable btn-floating btn-small waves-effect waves-light white">
                                    <i class='material-icons btnIcon'>file_download</i>
                                </a>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
            <div class="col s12 l6">
                <div class="card material-table z-depth-3 hoverable tableSec">
                    <div class="table-header">
                        <span class="table-title">2019 Q3 Report on U.S. Direct Lending</span>
                    </div>
                    <div class="card-action">
                        <div class="preview-sec">
                            <ngx-extended-pdf-viewer 
                                [src]="'assets/example.pdf'" 
                                useBrowserLocale="true" 
                                height="400px"
                                [zoom]="auto" 
                                [handTool] = "true"
                                [showZoomButtons]="true" 
                                [showPagingButtons]="true"
                                [showPresentationModeButton]="false" 
                                [showOpenFileButton]="false" 
                                [backgroundColor]="black"
                            ></ngx-extended-pdf-viewer>
                        </div>
                    </div>
                    <div class="pdf-tool-bar center-align">
                        <a target="_blank" href="#" class="hoverable waves-effect waves-light btn btn-primary">
                            <i class="material-icons left">view_headline</i>Read
                        </a>
                        <a href="#" class="hoverable waves-effect waves-light btn btn-primary">
                            <i class="material-icons left">file_download</i>Download
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section scrollspy" id="RealAssetsDocuments">
        <div class="row">
            <div class="col s12 l6">
                <div class="card material-table z-depth-3 hoverable tableSec">
                    <div class="table-header">
                        <span class="table-title">Research - Real Assets</span>
                        <div class="actions">
                            <a href="#" data-position="bottom" data-delay="50" data-tooltip="Search reports" class="tooltipped search-toggle waves-effect btn-flat nopadding" data-tooltip-id="e6b4ee41-0b27-ab8d-df04-1a5ecfe11152">
                                <i class="material-icons">search</i>
                            </a>
                        </div>
                    </div>
                     <!----------------Real Assets - table starts here--------------->
                     <ngx-datatable [headerHeight]="60" 
                        [rows]="realAssetsDataRows" 
                        [limit]="5" 
                        [footerHeight]="50"
                        [columnMode]="'flex'"
                        [rowHeight]="'auto'"
                        class="material">
                        <ngx-datatable-column  [resizeable]="false" name="Date" [flexGrow]="0.5" [sortable]="true">
                            <ng-template let-column="column" let-sort="sortFn" let-sortDir="sortDir" ngx-datatable-header-template>
                                <span (click)="sort($event, sortDir, sortFn)">Date</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.createdAt | date: 'dd/MM/yyyy'}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [resizeable]="false" name="Fund" [flexGrow]="0.75" cellClass="underline-link" [sortable]="true">
                            <ng-template let-column="column" let-sort="sortFn" let-sortDir="sortDir" ngx-datatable-header-template>
                                <span (click)="sort($event, sortDir, sortFn)">Fund</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.title}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [resizeable]="false" name="Action" [flexGrow]="0.5" headerClass="center-align" cellClass="center-align">
                            <ng-template let-column="column" ngx-datatable-header-template>
                                Action
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <a class="hoverable btn-floating btn-small waves-effect waves-light white">
                                    <i class='material-icons btnIcon'>view_headline</i>
                                </a><span>&nbsp;&nbsp;</span>
                                <a class="hoverable btn-floating btn-small waves-effect waves-light white">
                                    <i class='material-icons btnIcon'>file_download</i>
                                </a>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
            <div class="col s12 l6">
                <div class="card material-table z-depth-3 hoverable tableSec">
                    <div class="table-header">
                        <span class="table-title">Investments in Infrastructure</span>
                    </div>
                    <div class="card-action">
                        <div class="preview-sec">
                            <ngx-extended-pdf-viewer 
                                [src]="'assets/example.pdf'" 
                                useBrowserLocale="true" 
                                height="400px"
                                [zoom]="auto" 
                                [handTool] = "true"
                                [showZoomButtons]="true" 
                                [showPagingButtons]="true"
                                [showPresentationModeButton]="false" 
                                [showOpenFileButton]="false" 
                                [backgroundColor]="black"
                            ></ngx-extended-pdf-viewer>
                        </div>
                    </div>
                    <div class="pdf-tool-bar center-align">
                        <a target="_blank" href="#" class="hoverable waves-effect waves-light btn btn-primary">
                            <i class="material-icons left">view_headline</i>Read
                        </a>
                        <a href="#" class="hoverable waves-effect waves-light btn btn-primary">
                            <i class="material-icons left">file_download</i>Download
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section scrollspy" id="HedgeFundDocuments">
        <div class="row">
            <div class="col s12 l6">
                <div class="card material-table z-depth-3 hoverable tableSec">
                    <div class="table-header">
                        <span class="table-title">Research - Hedge Funds</span>
                        <div class="actions">
                            <a href="#" data-position="bottom" data-delay="50" data-tooltip="Search reports" class="tooltipped search-toggle waves-effect btn-flat nopadding" data-tooltip-id="e6b4ee41-0b27-ab8d-df04-1a5ecfe11152">
                                <i class="material-icons">search</i>
                            </a>
                        </div>
                    </div>
                     <!----------------HF - table starts here--------------->
                     <ngx-datatable [headerHeight]="60" 
                        [rows]="hedgeFundDataRows" 
                        [limit]="5" 
                        [footerHeight]="50"
                        [columnMode]="'flex'"
                        [rowHeight]="'auto'"
                        class="material">
                        <ngx-datatable-column  [resizeable]="false" name="Date" [flexGrow]="0.5" [sortable]="true">
                            <ng-template let-column="column" let-sort="sortFn" let-sortDir="sortDir" ngx-datatable-header-template>
                                <span (click)="sort($event, sortDir, sortFn)">Date</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.createdAt | date: 'dd/MM/yyyy'}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [resizeable]="false" name="Fund" [flexGrow]="0.75" cellClass="underline-link" [sortable]="true">
                            <ng-template let-column="column" let-sort="sortFn" let-sortDir="sortDir" ngx-datatable-header-template>
                                <span (click)="sort($event, sortDir, sortFn)">Fund</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.title}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [resizeable]="false" name="Action" [flexGrow]="0.5" headerClass="center-align" cellClass="center-align">
                            <ng-template let-column="column" ngx-datatable-header-template>
                                Action
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <a class="hoverable btn-floating btn-small waves-effect waves-light white">
                                    <i class='material-icons btnIcon'>view_headline</i>
                                </a><span>&nbsp;&nbsp;</span>
                                <a class="hoverable btn-floating btn-small waves-effect waves-light white">
                                    <i class='material-icons btnIcon'>file_download</i>
                                </a>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
            <div class="col s12 l6">
                <div class="card material-table z-depth-3 hoverable tableSec">
                    <div class="table-header">
                        <span class="table-title">Hedge Fund Market Commentary - December 2019</span>
                    </div>
                    <div class="card-action">
                        <div class="preview-sec">
                            <ngx-extended-pdf-viewer 
                                [src]="'assets/example.pdf'" 
                                useBrowserLocale="true" 
                                height="400px"
                                [zoom]="auto" 
                                [handTool] = "true"
                                [showZoomButtons]="true" 
                                [showPagingButtons]="true"
                                [showPresentationModeButton]="false" 
                                [showOpenFileButton]="false" 
                                [backgroundColor]="black"
                            ></ngx-extended-pdf-viewer>
                        </div>
                    </div>
                    <div class="pdf-tool-bar center-align">
                        <a target="_blank" href="#" class="hoverable waves-effect waves-light btn btn-primary">
                            <i class="material-icons left">view_headline</i>Read
                        </a>
                        <a href="#" class="hoverable waves-effect waves-light btn btn-primary">
                            <i class="material-icons left">file_download</i>Download
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section scrollspy" id="MediaLibraryDocuments">
        <div class="row">
            <div class="col s12 l6">
                <div class="card material-table z-depth-3 hoverable tableSec">
                    <div class="table-header">
                        <span class="table-title">Media Library
                            </span>
                        <div class="actions">
                            <a href="#" data-position="bottom" data-delay="50" data-tooltip="Search reports" class="tooltipped search-toggle waves-effect btn-flat nopadding" data-tooltip-id="e6b4ee41-0b27-ab8d-df04-1a5ecfe11152">
                                <i class="material-icons">search</i>
                            </a>
                        </div>
                    </div>
                     <!----------------Media Library - table starts here--------------->
                     <ngx-datatable [headerHeight]="60" 
                        [rows]="mediaLibraryDataRows" 
                        [limit]="5" 
                        [footerHeight]="50"
                        [columnMode]="'flex'"
                        [rowHeight]="'auto'"
                        class="material">
                        <ngx-datatable-column  [resizeable]="false" name="Date" [flexGrow]="0.5" [sortable]="true">
                            <ng-template let-column="column" let-sort="sortFn" let-sortDir="sortDir" ngx-datatable-header-template>
                                <span (click)="sort($event, sortDir, sortFn)">Date</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.createdAt | date: 'dd/MM/yyyy'}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [resizeable]="false" name="Fund" [flexGrow]="0.75" cellClass="underline-link" [sortable]="true">
                            <ng-template let-column="column" let-sort="sortFn" let-sortDir="sortDir" ngx-datatable-header-template>
                                <span (click)="sort($event, sortDir, sortFn)">Fund</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.title}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [resizeable]="false" name="Action" [flexGrow]="0.5" headerClass="center-align" cellClass="center-align">
                            <ng-template let-column="column" ngx-datatable-header-template>
                                Action
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <a class="hoverable btn-floating btn-small waves-effect waves-light white">
                                    <i class='material-icons btnIcon'>play_circle_outline</i>
                                </a><span>&nbsp;&nbsp;</span>
                                <a class="hoverable btn-floating btn-small waves-effect waves-light white">
                                    <i class='material-icons btnIcon'>file_download</i>
                                </a>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
            <div class="col s12 l6">
                <div class="card material-table z-depth-3 hoverable tableSec">
                    <div class="table-header">
                        <span class="table-title">Private Markets Outlook Presentation 4Q 2019</span>
                    </div>
                    <div class="card-action">
                        <div class="preview-sec">
                            <ngx-extended-pdf-viewer 
                                [src]="'assets/example.pdf'" 
                                useBrowserLocale="true" 
                                height="400px"
                                [zoom]="auto" 
                                [handTool] = "true"
                                [showZoomButtons]="true" 
                                [showPagingButtons]="true"
                                [showPresentationModeButton]="false" 
                                [showOpenFileButton]="false" 
                                [backgroundColor]="black"
                            ></ngx-extended-pdf-viewer>
                        </div>
                    </div>
                    <div class="pdf-tool-bar center-align">
                        <a target="_blank" href="#" class="hoverable waves-effect waves-light btn btn-primary">
                            <i class="material-icons left">view_headline</i>Read
                        </a>
                        <a href="#" class="hoverable waves-effect waves-light btn btn-primary">
                            <i class="material-icons left">file_download</i>Download
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>