.cwbdcDisclosureContainer {
    p, h6 {
        text-align: justify;
    }

    .subheader {
        padding-bottom: 16px;
        border-bottom: 2px solid #379695;
    }

    h6,.subheader {
        font-weight: 500;
    }
}