<div class="container careersContainer">
    <strong class="pageHeader">Careers</strong>
    <div class="subHeaderSec">{{currentMonth}} {{currentYear}}</div>
    <ng-container *ngFor="let career of careerDetails; let i = index">
        <div class="joDescSec">
            <strong class="jobTtl">{{career.jobPost}}</strong>
            <div class="desc" [innerHTML]="career.cDescription"></div>
            <div class="resp" [innerHTML]="career.responsibilities"></div>
            <div class="skills" [innerHTML]="career.skills"></div>
            <div class="notes" [innerHTML]="career.notes"></div>
        </div>
    </ng-container>
    <div class="careerFooterSec" [innerHTML]="careerFootNote[0].footer"></div>
</div>