$career_border_color: #dddddd;

.careersContainer {
    .pageHeader {
        font-size: 22px;
        margin-bottom: 18px;
    }

    .subHeaderSec {
        padding: 15px 0;
    }

    .joDescSec {
        border-top: 1px solid $career_border_color;
        padding: 20px 0;

        .jobTtl {
            font-size: 20px;
        }
    }
    
}