.ourTeamContainer {
    .teamProfile {
        margin: 20px !important;
        padding: 20px;

        .teamMemberBio {
            font-size: 20px;
            font-weight: 300;
            text-align: justify;
        }
    }
}