<div class="container ourTeamContainer">
    <div class="contentTop">&nbsp;</div>
    <div id="individualTeamMember">
        <div class="flow-text"></div>
    </div>

    <div id="teamContent">
        <div class="row">
            <div class="col s12 tabDiv">
                <mat-tab-group (selectedTabChange)="tabClick($event)">
                    <ng-container *ngFor="let column of teamNameArr; let in = index">
                        <mat-tab label="{{column}}">
                            <div class="carousel">
                                <ng-container *ngFor="let team of teamMembersArr;let i = index">
                                    <a *ngIf="team.team == column" attr.data-name="{{team.name}}" class="carousel-item" (click)="carouselClik(team.name)">
                                        <img  src="../../../assets/images/team/{{team.profileImageName}}">
                                    </a>
                                </ng-container>
                            </div>
                            <ng-container *ngFor="let team of teamMembersArr;let i = index">
                                <div id="{{team.name}}" *ngIf="team.team == column" class="row teamProfile z-depth-3 hide">
                                    <h5>{{team.name}}&nbsp;(<a class="link" href="mailto:{{team.email}}">{{team.email}}</a>)</h5>
                                    <h5>{{team.role}}</h5>
                                    <div class="teamMemberBio" [innerHTML]="team.cDescription">
                                        
                                    </div>
                                </div>
                            </ng-container>
                        </mat-tab>
                    </ng-container>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>
    