$theme_color : #123448;

.forgotPwdContainer {
    .aligner {
        height: 100%;
        display: flex;
        align-items: center;
        min-height: 24em;
        justify-content: center;
        padding-top: 7%;

        .rootbg-color {
            background-repeat: no-repeat;
            background-position: center;
            height: 3em;
            background-size: contain;
            background-image: url('../../../assets/images/logo.png');
            background-color: $theme_color !important;
        }

        .aligner-item {
            flex: 1;

            &.aligner-item-fixed {
                max-width: 33%;
            }
        }
    }
}