<div class="container-fluid forgotPwdContainer">
    <div class="aligner">
        <div class="aligner-item aligner-item-fixed">
            <div class="card z-depth-3 hoverable">
                <div class="card-title rootbg-color">
                </div>
                <div class="card-action">
                    <form [formGroup]="forgotPwdForm" (ngSubmit)="forgotPwdFormSubmit()" novalidate>
                        <div>Please enter your email address in the field below, then click the Reset Password button.</div><div>A new invitation message will be sent to your email address.</div>
                        <div class="input-field">
                            <i class="material-icons prefix">email</i>
                            <input formControlName="email" type="email" class="email validate" [ngClass]="{ 'invalid': submitted && f.email.errors }">
                            <label>Email*</label>
                            <div *ngIf="submitted && f.email.errors" class="red-text helpText">
                                <div *ngIf="f.email.errors.required">{{environment.helpText.emailReq}}</div>
                                <div *ngIf="f.email.errors.email && !f.email.errors.required">{{environment.helpText.emailInvalid}}</div>
                            </div>
                        </div>
                        <div class="input-field center-align">
                            <button class="center-align waves-effect waves-light btn btn-primary" type="submit">
                                Reset Password
                                <i class="material-icons right">send</i>
                            </button>
                        </div>   
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
