<footer class="container-fluid innerFooterContainer">
    <div class="row">
        <div class="col m6 s12 copyRightText">Copyright © 2004 - 2020 Cliffwater LLC. All Rights Reserved.</div>
        <div class="col m6 s12 right-align copyRight white-text">
            <a class="white-text link" routerLink="/Contact">Contact Us</a> |
            <a class="white-text link" routerLink="/Terms">Terms &amp; Conditions</a>
        </div>
    </div>
</footer>
