$theme_color: #123448;
$cporyright_text_color: #ffffffcc;

.innerFooterContainer {
    background-color: $theme_color;
    height: 50px;
    line-height: 50px;
    position: absolute;
    bottom: -75px;
    width: 100%;

    .row {
        margin-bottom: 0;
        .copyRightText {
            color: $cporyright_text_color;
        }
    }
}