<div class="container-fluid multiAssetContainer">
    <div class="row">
        <div class="serviceContent col s12 colxl12">
            <div class="row">
                <div class="col s12 xl5 m6">
                    <div id="allocationSection">
                        <h5 class="subheader">Asset Allocation Solutions</h5>
                        <p class="content">
                            Our research and technology cuts across all asset classes, traditional and alternative, assisting clients to develop <strong>diversified portfolios</strong> that better balance <strong>return, volatility,</strong> and <strong>liquidity.</strong>
                        </p>
                        <ul class="list">
                            <li>Long-Term Capital Market Assumptions</li>
                            <li>Tactical Opportunities</li>
                            <li>Portfolio Solutions</li>
                            <li>
                                Risk Assessments include:
                                <ul class="subList">
                                    <li>Asset-Liability</li>
                                    <li>Liquidity Traps</li>
                                    <li>Tail Risk</li>
                                    <li>Scenario Testing</li>
                                </ul>
                            </li>
                            <li>Capital Budgeting / Cash Flow Analysis</li>
                        </ul>
                        <p class="private-equity link ServiceLnks">
                            <a href="/Research#AssetAllocationDocuments" target="_blank">
                                Access Cliffwater Asset Allocation Research
                            </a>
                        </p>
                    </div>
                </div>
                <div class="col s12 xl7 m6">
                    <div class="">
                        <h5 class="subheaderTitle chartHeader">10-Year Return and Risk Forecasts <span>(As of January 1, 2019)</span></h5>
                        <app-high-chart-tmplt [plotChartOptions]="scatterChartOptions"></app-high-chart-tmplt>
                        <div class="disclosureParaWrap">
                            <p>There can be no assurance that any expected rates of return or risk will be achieved. Expected rates of return and risk may be based upon assumptions regarding future events and conditions that prove to be inaccurate. Expected rates of return and risk should not be relied upon as an indication of future performance and should not form the primary basis for an investment decision. Future returns are not guaranteed, and a loss of principal may occur.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 xl5 m6">
                    <div class="pieChartWrapper">
                        <h5 class="subheader">Sample Portfolio</h5>
                        <app-high-chart-tmplt [plotChartOptions]="pieChartOptions"></app-high-chart-tmplt>
                        <div class="disclosureParaWrap">
                            <p>The Sample Portfolio is presented for illustrative purposes only and is based on various assumptions. Such assumptions, other data, or projections may have a material impact on the returns shown. Nothing contained on this website is, or shall be relied upon as, a representation as to past or future performance, and no assurance, promise, or representation can be made as to actual returns. Past performance is not indicative of future returns, which may vary.</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 xl7 m6">
                    <div>
                        <h5 class="subheaderTitle chartHeader">Forecast Covariance Matrix  <span>(As of January 1, 2019)</span></h5>
                        <a (click)="openEmailReqPopup()" class="customModalLnk matrixTableWrapper"><img src="../../../assets/images/MatrixMulitAsset_1.png" alt="Multi-Asset" class="imgWrapper" /></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!---------------------------------Email Required Popup Template----------------------------->
<ng-template #emailReqPopup>
    <h4 mat-dialog-title class="center-align emailReqPopupTitle">
        <img src="../../../assets/images/logo.png" height="50px" alt="Cliffwater Logo">
    </h4>
    <mat-dialog-content class="emailReqPopupBody">
        <form [formGroup]="emailReqForm" (ngSubmit)="emailReqFormSubmit()" novalidate>
            <div class="input-field">
                <i class="material-icons prefix">email</i>
                <input type="text" class="email validate" [ngClass]="{ 'invalid': submitted && f.email.errors }" formControlName="email">
                <label>Email*</label>
                <div *ngIf="submitted && f.email.errors" class="red-text helpText">
                    <div *ngIf="f.email.errors.required">{{environment.helpText.emailReq}}</div>
                    <div *ngIf="f.email.errors.email && !f.email.errors.required">{{environment.helpText.emailInvalid}}</div>
                </div>
            </div>
            <div class="input-field">
                <p>By clicking Accept, I accept the <a class="link" routerLink="/Terms" target="_blank">Terms of Use</a></p>
            </div>
            <div class="center-align btnContainer">
                <button class="waves-effect waves-light btn btn-primary" type="submit">
                    <i class="material-icons right">check</i>Accept
                </button>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                <button class="waves-effect waves-light btn btn-primary" (click)="dialogClose()">
                    <i class="material-icons right">cancel</i>Cancel
                </button>
            </div>
        </form>
    </mat-dialog-content>
</ng-template>
