$primary_color: #0d47a1;
$white_color: #ffffff;
$link_color: #0366d6;
$gray_color: #586069;
$theme_color: #123448;
$header_border_color: #379695;
$home_bg_color: #f4f4f4;
$card_title_bg_color: #f5f5f5;
$card_title_border_color: #a0a0a033;
$table_material_icon_color: #0000008a;
$input_field_text_color: #333333;
$custom_tbl_border_color: #dddddd;
$custom_tbl_bg_color: #d3d3d3;
$datatable_border_color: #e0e0e0;
$datatable_even_row_color: #e0f2ff;
$no_ui_slider_bg_color: #bfbfbf;