.cdliDefinitionsContainer {
    .definitionCDLIList {
        li {
            margin-bottom: 16px;
            &:last-child {
                h6 {
                    font-size: 13px;
                    margin-top: 3%;
                }
            }
        }
    }
}