<div class="container cdliDefinitionsContainer">
    <div class="section">
        <p>
            This website (the "Website") provides information regarding the yield and performance of the Cliffwater Direct Lending Index (the "Index"). This information is provided for informational purposes only and is provided as of the date indicated. This information is derived from sources that are considered reliable, but Cliffwater LLC ("Cliffwater") does not guarantee the veracity, currency, completeness or accuracy of this information.
        </p>


        <ul class="list-unstyled definitionCDLIList">
            <li>
                <strong>Asset Seniority</strong> is the composition by seniority of the assets included in the Index.  Information is updated quarterly based on SEC filings.
            </li>
            <li>
                <strong>Inception</strong> is the annualized total return from the Sept 2004 start date of the CDLI.

            </li>
            <li>
                <strong>3 Year</strong> is the annualized total return over the preceding three year period.
            </li>
            <li>
                <strong>5 Year</strong> is the annualized total return over the preceding five year period.
            </li>
            <li>
                <strong>10 Year</strong> is the annualized total return over the preceding ten year period.
            </li>
            <li>
                <strong>Yield</strong> is calculated by dividing quarterly interest income by average asset value, and multiplying by four to get annualized yield.
            </li>
            <li>
                <strong>Std. Dev.</strong> is the annualized standard deviation of Index returns, or Index component* returns, since inception.
            </li>
            <li>
                <strong>2008 Drawdown</strong> is the largest peak to trough percentage decline in value of the Index since inception.  The drawdowns of the relevant Index components also are shown for the same period (Q3 through Q4 2008).
            </li>
            <li>
                <h6>* The Index components are income return, unrealized gain/loss and realized gain/loss.</h6>
            </li>
        </ul>
    </div>
</div>
