<div class="container cwbdcDefinitionsContainer">
    <p>This website (the "Website") provides information regarding the yield and performance of the Cliffwater BDC Index (the "Index") and various asset classes, the underlying asset seniority and the top 10 holdings of the Index. This information is provided for informational purposes only and is provided as of the date indicated. This information is derived from sources that are considered reliable, but Cliffwater LLC ("Cliffwater") does not guarantee the veracity, currency, completeness or accuracy of this information.</p>
    <h6>YIELD AND PERFORMANCE</h6>
    <p>The information provided regarding the yield and performance of various asset classes is provided for purposes of comparison. There is no correlation between the yield and performance of these asset classes and the yield and performance of the Index. For each other asset class, Cliffwater has selected an exchange-traded note (an "ETN") or an exchange-traded fund (an "ETF") that it believes is representative of the asset class based on various considerations, including the net assets of the ETN/ETF and the benchmark index of the ETN/ETF. Below is information regarding the ETN/ETF that was selected for each asset class.</p>
    <p><strong>U.S. High Yield</strong> - The yield and performance of the U.S. high yield bond market is based on the yield and performance of the iShares iBoxx $ High Yield Corporate Bond ETF.</p>
    <p><strong>MLPs </strong>(Master Limited Partnerships) - The yield and performance of MLPs is based on the yield and performance of the JPMorgan Alerian MLP Index ETN.</p>
    <p><strong>U.S. REITs </strong>(Real Estate Investment Trusts) - The yield and performance of U.S. REITs is based on the yield and performance of the iShares U.S. Real Estate ETF.</p>
    <p><strong>Bank Loans </strong>- The yield and performance of the bank loan market is based on the yield and performance of the PowerShares Senior Loan Portfolio.</p>
    <p><strong>U.S. Munis </strong>(U.S. municipal bonds) - The yield and performance of the U.S. munis market is based on the yield and performance of the iShares National AMT-Free Muni Bond ETF.</p>
    <p><strong>U.S. Equity </strong>- The yield and performance of the U.S. Equity market is based on the yield and performance of the SPDR S&P 500 ETF.</p>
    <p><strong>3-7 Year Treasury</strong> - The performance of the 3-7 year U.S. Treasury market is based on the performance of the iShares 3-7 Year Treasury Bond ETF.</p>
    <p><strong>5 Year Treasury</strong> - The yield of the 5 year U.S. Treasury market is based on the yield published by the U.S. Department of the Treasury.</p>
    <h6>ASSET SENIORITY</h6>
    <p><strong>Asset Seniority of CWBDC</strong> - This section shows the composition by seniority of the underlying assets of the individual BDCs included in the Index. Information is updated quarterly based on company SEC filings.</p>
    <p><strong>Asset Seniority of [BDC Ticker]</strong> - This section shows the composition by seniority of the underlying assets of the applicable BDC. Information is updated quarterly based on company SEC filings.</p>
    <h6>TOP 10 INDEX HOLDINGS</h6>
    <p><strong>Top 10 Index Holdings</strong> - This section provides information regarding the top 10 holdings of the Index (based on weight).</p>
    <h6>CALCULATION METHODOLOGIES</h6>
    <p><strong>MTD </strong>is the month-to-date total return.</p>
    <p><strong>YTD </strong>is year-to-date total return.</p>
    <p><strong>Trend </strong>is a graphical depiction of total return path since the beginning of the calendar year. The red dot indicates the YTD total return trough and green dot indicates the year's YTD total return peak.</p>
    <p><strong>3 Year </strong>is the annualized total return over the preceding three year period.</p>
    <p><strong>5 Year </strong>is the annualized total return over the preceding five year period.</p>
    <p><strong>3 yr Vol </strong>is the annualized volatility over the preceding three year period. Volatility represents the annualized standard deviation of monthly total returns.</p>
    <p><strong>3 yr Corr </strong>shows the correlation of the CWBDC Index and the applicable asset class over the preceding three year period. The correlations are calculated using monthly total returns.</p>
    <p><strong>Dividend Yield </strong>is calculated on an indicative basis. The yield is calculated by annualizing the most recent dividend and dividing it by the current price.</p>
    <p><strong>Index Yield </strong>is calculated as the market capitalization weighted Dividend Yield of the index constituents.</p>
    <p><strong>Yield </strong>is a generic term used to describe the estimated annual returns of a security or index that will be returned to the owners in the form of interest or dividend payments.</p>
    <p><strong>Mkt Cap </strong>(market capitalization) is calculated by multiplying the number of outstanding shares by the current price. Market capitalization is expressed in millions of U.S. Dollars.</p>
    <p><strong>Premium/Discount on NAV </strong>is calculated as follows: (i) with respect to the Index, the market cap weighted price per share divided by the NAV weighted most recently reported quarterly NAV per share and (ii) with respect to an individual BDC, the BDC's stock price per share divided by the BDC's most recently reported quarterly NAV per share.</p>
    <p><strong>NAV </strong>(or "net asset value") is generically a quarterly value derived by subtracting the total value of liabilities from gross assets. The following adjustments have been made to NAV to show NAV returns over time (i.e., cumulative changes to NAV) or to show whether the Index or an individual BDC, as applicable, was trading at a premium / discount historically:</p>
    <p class="subPara">For the total return chart showing only the Index, <strong>CWBDC NAV</strong> is calculated by dividing (i) the total return value of the Index by (ii) (a) if there is a Discount on NAV, one <u>minus</u> the Discount on NAV of the Index or (b) if there is a Premium on NAV, one <u>plus</u> the Premium on NAV of the Index.</p>
    <p class="subPara">For each total return chart showing both the Index and an individual BDC, the <strong>CWBDC NAV</strong> is calculated by dividing (i) the total return value of the Index by (ii) (a) if there is a Discount on NAV, one <u>minus</u> the Discount on NAV of the Index or (b) if there is a Premium on NAV, one <u>plus</u> the Premium on NAV of the Index. The <strong>[BDC Ticker] NAV</strong> is calculated by dividing (i) the cumulative total return of the individual BDC by (ii) (a) if there is a Discount on NAV, one <u>minus</u> the Discount on NAV of the individual BDC or (b) if there is a Premium on NAV, one <u>plus</u> the Premium on NAV of the individual BDC. Both time series are then adjusted by normalizing the new NAV series to 1.00 as of the start date of each charting period to show NAV returns over time.</p>
    <p class="subPara">For the price return chart showing only the Index,<strong>CWBDC NAV</strong> is calculated by dividing (i) the price return value of the Index by (ii) (a) if there is a Discount on NAV, one <u>minus</u> the Discount on NAV of the Index or (b) if there is a Premium on NAV, one <u>plus</u> the Premium on NAV of the Index.</p>
    <p class="subPara">For each price return chart showing an individual BDC, <strong>[BDC Ticker] NAV</strong> is calculated by dividing the price return of the BDC by (ii) (a) if there is a Discount on NAV, one <u>minus</u> the Discount on NAV of the individual BDC or (b) if there is a Premium on NAV, one <u>plus</u> the Premium on NAV of the individual BDC. The time series is then normalized to 1.00 as of the start date of each charting period.</p>
</div>
