@import '../../../../../assets/scss/variable.scss';

.manager-research-container {
    .collapsible {
        .collapsible-header {
            padding: 0 1rem;

            i {
                vertical-align: middle;
            }
        }

        .filter-item-list {
            i {
                vertical-align: bottom;
                padding-right: 5px;
            }
        }

        .searchBtnRow {
            padding-top: 20px;
            button {
                width: 150px;
                font-size: 1rem;
            }
        }
    }
}