<div class="manager-research-container container-fluid">
    <div class="section scrollspy">
        <div class="row">
            <div class="col-sm-12">
                <ul class="collapsible" #collapsible data-collapsible="accordion">
                    <li class="active filtersSec">
                        <div class="collapsible-header section-header">
                            <h5 class="filterHdr">
                                <i class="material-icons">search</i>Liquid Alternatives Search Criteria
                            </h5>
                        </div>
                        <div class="collapsible-body">
                            <!----------------------Filter Section-------------->
                            <div class="filtersRow row">
                                <div class="col s12 m4 l2">
                                    <ul class="filter-item-list ratingsList">
                                        <li class="collection-header">
                                            <i class="material-icons">star</i>Rating
                                        </li>
                                        <li>
                                            <select class="ratingsSelect" multiple="true">
                                                <option class="" selected="">Select All</option>
                                                <option class="A">A</option>
                                                <option class="B">B</option>
                                            </select>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col s12 m4 l2">
                                    <ul class="filter-item-list assetClassesList">
                                        <li class="collection-header">
                                            <i class="material-icons">view_agenda</i>Asset Type
                                        </li>
                                        <li>
                                            <select class="assetClassesSelect" multiple="true">
                                                <option value="" selected="">Select All</option>
                                                <option value="Fixed Income">Fixed Income</option>
                                                <option value="Global Equity">Global Equity</option>
                                                <option value="Liquid Hedged Strategies">Liquid Hedged Strategies</option>
                                                <option value="Liquid Real Assets">Liquid Real Assets</option>
                                                <option value="Non US Equity - Developed">Non US Equity - Developed</option>
                                                <option value="Public Mkts Strategies">Public Mkts Strategies</option>
                                            </select>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col s12 m4 l2">
                                    <ul class="filter-item-list strategyList">
                                        <li class="collection-header">
                                            <i class="material-icons">format_align_justify</i>Strategy
                                        </li>
                                        <li>
                                            <select class="strategySelect" multiple="true">
                                                <option value="" selected="">Select All</option>
                                                <option value="Commodities">Commodities</option>
                                                <option value="Credit Long/Short">Credit Long/Short</option>
                                                <option value="Diversified Real Assets">Diversified Real Assets</option>
                                                <option value="Equity Long/Short">Equity Long/Short</option>
                                                <option value="Event Driven">Event Driven</option>
                                            </select>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col s12 m4 l2 sliderDiv">
                                    <ul class="filter-item-list strategyList">
                                        <li class="collection-header">
                                            <i class="material-icons">monetization_on</i>Fund Assets ($MM)
                                        </li>
                                        <li class="center-align">
                                            <nouislider [(ngModel)]="fundAssetsRange" [config]="fundAssetsRangeConfig" [tooltips]="[ true, true ]"></nouislider>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col s12 m4 l2 sliderDiv">
                                    <ul class="filter-item-list strategyList">
                                        <li class="collection-header">
                                            <i class="material-icons">radio_button_checked</i>Expense Ratio (bps)
                                        </li>
                                        <li class="center-align">
                                            <nouislider [(ngModel)]="expenseRatioRange" [config]="expenseRatioRangeConfig" [tooltips]="[ true, true ]"></nouislider>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col s12 m4 l2 sliderDiv">
                                    <ul class="filter-item-list strategyList">
                                        <li class="collection-header">
                                            <i class="material-icons">monetization_on</i>Min. Investment
                                        </li>
                                        <li class="center-align">
                                            <nouislider [(ngModel)]="minInvRange" [config]="minInvRangeConfig" [tooltips]="[ true, true ]"></nouislider>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="searchBtnRow center-align">
                                <button id="filterFundsBtn" class="btn-primary center-align btn waves-effect waves-light" type="button" name="action">
                                    Filter
                                    <i class="material-icons right">search</i>
                                </button>
                            </div>
                        </div>
                    </li>
                    <li class="SearchResultsSec">
                        <div class="collapsible-header section-header active">
                            <h5 class="filterHdr">
                                <i class="material-icons"> assignment </i>Search Results 
                            </h5>
                        </div>
                         <!----------------------Search Results Section-------------->
                        <div class="material-table z-depth-3 hoverable">

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
