$nav_bg_color: #123448;
$nav_text_color: #ffffff;
$search_text_color: #000000;
$active_link_color: #6c6c6c1a;

.innerNavContainer {
    nav {
        background-color: $nav_bg_color;
        color: $nav_text_color;
        line-height: 64px;
        height: 64px;

        .brand-logo {
            position: absolute;
            display: inline-block;
            font-size: 2.1rem;
            padding: 0;
            white-space: nowrap;

            img {
                height: 50px;
                margin-top: 10px;
            }
        }

        .searchForm {
            left: 19%;
            width: 27%;
            position: absolute;

            input {
                &.searchBar {
                    background:  $nav_text_color !important;
                    color: $search_text_color !important;
                    display: inline-block !important;
                    padding-left: 10px;
                }
            }

            .searchFieldSec {
                padding-right: 0;
            }

            .searchBtn {
                height: 3rem;
                line-height: 3rem;
                padding: 0;
                button {
                    background-color: $nav_bg_color !important;
                    border-radius: 0;
                    height: 100%;
                    margin-top: 8px;
                    i {
                        height: 3rem !important;
                        line-height: 3rem !important;
                    }
                }
            }
        }

        ul {
            li {
                &.active {
                    background-color: $active_link_color;
                }
            }
        }
    }

    .searchFormSec {
        min-width: 150px;
        max-width: 500px;
        width: 100%;

        input {
            background-color: $nav_text_color;
            padding: 0 10px;
            border-bottom: none;
        }
      }
      
}