<header class="innerNavContainer">
    <nav class="nav-wrapper">
        <a class="brand-logo" routerLink="/Home">
            <img alt="Cliffwater Logo" src="../../assets/images/logo.png">
        </a>
        <div class="row">
            <div class="col m4">
                <div class="searchForm" >
                    <div class="row">
                        <div class="col s11 searchFieldSec">
                            <!--<input class="search-bar searchBar" placeholder="Search for funds" type="text">-->
                            <form class="searchFormSec" [formGroup]="searchForm">
                                <input #inputField 
                                type="text" 
                                placeholder="Search for funds" 
                                aria-label="Funds" 
                                [formControl]="searchFundsControl" 
                                [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option.fundName+' ['+option.fundId+','+option.holdingId+']'">
                                    {{option.fundName}}
                                    </mat-option>
                                </mat-autocomplete>
                            </form>
                        </div>
                        <div class="col s1 searchBtn">
                            <button class="transparent waves-effect waves-light btn btn-floating">
                                <i class="material-icons left">search</i>
                            </button>
                        </div>
                    </div>
               </div>
            </div>
            <div class="col m8">
                <ul class="right">
                    <li class="dashboardTab" [routerLinkActive]="['active']">
                        <a class="hoverable white-text" routerLink="/Dashboard">Dashboard</a>
                    </li>
                    <li class="researchTab" [routerLinkActive]="['active']">
                        <a class="hoverable white-text" routerLink="/Research">Research &amp; Publications</a>
                    </li>
                    <li class="clientUploadTab" [routerLinkActive]="['active']">
                        <a class="hoverable white-text" routerLink="/ClientUpload">Client Upload</a>
                    </li>
                    <li class="adminTab">
                        <a class="hoverable white-text" routerLink="/Admin">Admin</a>
                    </li>
                    <li>
                        <a class="hoverable white-text waves-effect waves-light" (click)="userLogout()">
                            <span class="shortUserName">user test2</span>
                            <i class="material-icons right">power_settings_new</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
