$theme_color : #123448;
$link_color : #0366d6;

.loginContainer {
    .aligner {
        height: 100%;
        display: flex;
        align-items: center;
        min-height: 24em;
        justify-content: center;
        padding-top: 7%;

        .rootbg-color {
            background-repeat: no-repeat;
            background-position: center;
            height: 3em;
            background-size: contain;
            background-image: url('../../../assets/images/logo.png');
            background-color: $theme_color !important;
        }

        .aligner-item {
            flex: 1;

            &.aligner-item-fixed {
                max-width: 33%;
            }

            a {
                color: $link_color !important;
                text-transform: initial;
            }

            .btnContainer {
                button {
                    &:nth-child(1) {
                        margin-right: 10px;
                    }
                }
            }
        }

        
    }
}