.fundContactContainer {
    .card {
        padding: 2rem 5%;
        margin: 0;

        .subheader {
            font-size: 19px;
        }

        .fundContactForm {
            padding: 3% 0;
        }
    }
    
}