<div class="container fundContactContainer">
    <mat-tab-group (selectedTabChange)="tabClick($event)">
        <mat-tab label="Hedge Funds">
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col s12">
                    <div class="card material-table hoverable">
                        <div id="hfForm">
                            <div class="headerDiv">
                                <h5 class="grey-text text-darken-3 center-align">Hedge Funds General Information</h5>
                            </div>
                            <div>
                                <span class="red-text">*</span> indicates a required field
                            </div>
                            <!--------HF Fund Contact Form Starts here------->
                            <form class="hfFundContactForm fundContactForm" [formGroup]="hfFundContactForm" (ngSubmit)="hfFundContactFormSubmit()" novalidate>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">account_balance</i>
                                        <input formControlName="hfFirmName" name="hfFirmName" type="text" class="hfFirmName validate" [ngClass]="{ 'invalid': hfFormSubmitted && f.hfFirmName.errors }">
                                        <label for="hfFirmName">Firm Name*</label>
                                        <div *ngIf="hfFormSubmitted && f.hfFirmName.errors" class="helpText red-text">
                                            <div *ngIf="f.hfFirmName.errors.required">{{environment.helpText.firmNameReq}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">dashboard</i>
                                        <input formControlName="hfFundName" name="hfFundName" type="text" class="hfFundName validate" [ngClass]="{ 'invalid': hfFormSubmitted && f.hfFundName.errors }">
                                        <label for="hfFundName">Fund Name*</label>
                                        <div *ngIf="hfFormSubmitted && f.hfFundName.errors" class="helpText red-text">
                                            <div *ngIf="f.hfFundName.errors.required">{{environment.helpText.fundNameReq}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">business_center</i>
                                        <input formControlName="hfAddress" name="hfAddress" type="text">
                                        <label for="hfAddress">Address</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12 l6 m6">
                                        <i class="material-icons prefix">monetization_on</i>
                                        <input formControlName="hfAum" type="text" name="hfAum">
                                        <label for="hfAum">AUM (Absolute Dollars)</label>
                                    </div>
                                    <div class="input-field col s12 l6 m6">
                                        <i class="material-icons prefix">monetization_on</i>
                                        <select formControlName="hfAumCurrency" name="hfAumCurrency">
                                            <option value="" disabled>Choose Currency</option>
                                            <option *ngFor="let option of aumCurrency" [value]="option.curr">{{option.name}}</option>
                                        </select>
                                        <label for="hfAumCurrency">Currency</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12 l6 m6">
                                        <i class="material-icons prefix">format_align_justify</i>
                                        <select formControlName="hfStrategySelect" name="hfStrategySelect" (change)="hfStrategySelectChange($event.target.value)">
                                            <option value="" disabled>Choose Strategy</option>
                                            <option *ngFor="let option of hfStrategyList" [value]="option">{{option}}</option>
                                        </select>
                                        <label for="hfStrategySelect">Strategy</label>
                                    </div>
                                    <div class="input-field col s12 l6 m6">
                                        <i class="material-icons prefix">format_indent_increase</i>
                                        <select id="hfSubStrategySelect" formControlName="hfSubStrategySelect" name="hfSubStrategySelect">
                                            <option value="" disabled>Choose Sub-Strategy</option>
                                            <option *ngFor="let option of hfSelSubStrategyList" [value]="option">{{option}}</option>
                                        </select>
                                        <label for="hfSubStrategySelect">Sub-Strategy</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12 l6 m6">
                                        <i class="material-icons prefix">account_circle</i>
                                        <input formControlName="hfContactName" name="hfContactName" type="text" class="hfContactName validate" [ngClass]="{ 'invalid': hfFormSubmitted && f.hfContactName.errors }">
                                        <label for="hfContactName">Contact Name</label>
                                        <div *ngIf="hfFormSubmitted && f.hfContactName.errors" class="helpText red-text">
                                            <div *ngIf="f.hfContactName.errors.required">{{environment.helpText.contactNameReq}}</div>
                                        </div>
                                    </div>
                                    <div class="input-field col s12 l6 m6">
                                        <i class="material-icons prefix">phone</i>
                                        <input formControlName="hfContactNumber" name="hfContactNumber" type="text" class="hfContactNumber validate" [ngClass]="{ 'invalid': hfFormSubmitted && f.hfContactNumber.errors }">
                                        <label for="hfContactNumber">Contact Number</label>
                                        <div *ngIf="hfFormSubmitted && f.hfContactNumber.errors" class="helpText red-text">
                                            <div *ngIf="f.hfContactNumber.errors.required">{{environment.helpText.contactNumberReq}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12 l6 m6">
                                        <i class="material-icons prefix">email</i>
                                        <input formControlName="hfContactEmail" name="hfContactEmail" type="email">
                                        <label for="hfContactEmail">Contact Email</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12 center-align">
                                        <button class="btn btn-primary waves-effect waves-light hoverable" type="submit">
                                            SUBMIT
                                            <i class="material-icons right">send</i>
                                        </button>
                                        <div><strong class="hfContactRes"></strong></div>
                                    </div>
                                </div>
                            </form><!--------HF Fund Contact Form ends here------->
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Private Assets">
          <div class="card material-table hoverable">
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col s12">
                        <div class="card material-table hoverable">
                            <div id="pAForm">
                                <div class="headerDiv">
                                    <h5 class="grey-text text-darken-3 center-align">Private Assets General Information</h5>
                                </div>
                                <div>
                                    <span class="red-text">*</span> indicates a required field
                                </div>
                                <!--------PA Fund Contact Form Starts here------->
                                <form class="paFundContactForm fundContactForm" [formGroup]="paFundContactForm" (ngSubmit)="paFundContactFormSubmit()" novalidate>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">account_balance</i>
                                            <input formControlName="paFirmName" name="paFirmName" type="text" class="validate paFirmName" [ngClass]="{ 'invalid': paFormSubmitted && pa.paFirmName.errors }">
                                            <label for="paFirmName">Firm Name</label>
                                            <div *ngIf="paFormSubmitted && pa.paFirmName.errors" class="helpText red-text">
                                                <div *ngIf="pa.paFirmName.errors.required">{{environment.helpText.firmNameReq}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">dashboard</i>
                                            <input formControlName="paFundName" name="paFundName" type="text" class="validate paFundName" [ngClass]="{ 'invalid': paFormSubmitted && pa.paFundName.errors }">
                                            <label for="paFundName">Fund Name</label>
                                            <div *ngIf="paFormSubmitted && pa.paFundName.errors" class="helpText red-text">
                                                <div *ngIf="pa.paFundName.errors.required">{{environment.helpText.fundNameReq}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">business_center</i>
                                            <input formControlName="paAddress" type="text">
                                            <label for="paAddress">Address</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12 l6 m6">
                                            <i class="material-icons prefix">monetization_on</i>
                                            <input formControlName="paAum" type="text">
                                            <label for="paAum">AUM (Absolute Dollars)</label>
                                        </div>
                                        <div class="input-field col s12 l6 m6">
                                            <i class="material-icons prefix">monetization_on</i>
                                            <select formControlName="paAumCurrency">
                                                <option value="" disabled selected>Choose Currency</option>
                                                <option *ngFor="let option of aumCurrency" [value]="option.curr">{{option.name}}</option>
                                            </select>
                                            <label for="paAumCurrency">Currency</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">exit_to_app</i>
                                            <select formControlName="paAssetClass" (change)= "paAssetClassSelectChange($event.target.value)">
                                                <option value="" disabled selected>Choose Asset Class</option>
                                                <option *ngFor="let option of paAssetClassList" [value]="option">{{option}}</option>
                                            </select>
                                            <label for="paAssetClass">Asset Class</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12 l6 m6">
                                            <i class="material-icons prefix">format_align_justify</i>
                                            <select formControlName="paStrategySelect" (change)= "paStrategySelectChange($event.target.value)">
                                                <option value="" disabled selected>Choose Strategy</option>
                                                <option *ngFor="let option of paSelStrategiesList" [value]="option">{{option}}</option>
                                            </select>
                                            <label for="paStrategySelect">Strategy</label>
                                        </div>
                                        <div class="input-field col s12 l6 m6">
                                            <i class="material-icons prefix">format_indent_increase</i>
                                            <select formControlName="paSubStrategySelect">
                                                <option value="" disabled selected>Choose Sub-Strategy</option>
                                                <option *ngFor="let option of paSelSubStrategiesList" [value]="option">{{option}}</option>
                                            </select>
                                            <label for="paSubStrategySelect">Sub-Strategy</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12 l6 m6">
                                            <i class="material-icons prefix">location_on</i>
                                            <select formControlName="paUsOrNonUs">
                                                <option value="" disabled>Choose U.S./Non-U.S. Focus</option>
                                                <option *ngFor="let option of paUsOrNonUsList" [value]="option">{{option}}</option>
                                            </select>
                                            <label for="paUsOrNonUs">U.S./Non-U.S. Focus</label>
                                        </div>
                                        <div class="input-field col s12 l6 m6">
                                            <i class="material-icons prefix">public</i>
                                            <select formControlName="paGeogFocus">
                                                <option value="" disabled>Choose Geographic Focus</option>
                                                <option *ngFor="let option of paGeogFocusList" [value]="option">{{option}}</option>
                                            </select>
                                            <label for="paGeogFocus">Geographic Focus</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12 l6 m6">
                                            <i class="material-icons prefix">language</i>
                                            <select formControlName="paRegFocus" multiple>
                                                <option value="" disabled selected>Choose Regional Focus</option>
                                                <option *ngFor="let option of paRegFocusList" [value]="option">{{option}}</option>
                                            </select>
                                            <label for="paRegFocus">Regional Focus</label>
                                        </div>
                                        <div class="input-field col s12 l6 m6">
                                            <i class="material-icons prefix">business</i>
                                            <select formControlName="paSecFocus" multiple>
                                                <option value="" disabled selected>Choose Industry/Sector Focus</option>
                                                <option *ngFor="let option of paSecFocusList" [value]="option">{{option}}</option>
                                            </select>
                                            <label for="paSecFocus">Industry/Sector Focus</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">message</i>
                                            <textarea formControlName="paSecDesc" class="materialize-textarea"></textarea>
                                            <label for="paSecDesc">Industry/Sector Description</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12 l6 m6">
                                            <i class="material-icons prefix">monetization_on</i>
                                            <input formControlName="paFundSize" type="text">
                                            <label for="paFundSize">Target Fund Size (Absolute Dollars)</label>
                                        </div>
                                        <div class="input-field col s12 l6 m6">
                                            <i class="material-icons prefix">monetization_on</i>
                                            <input formControlName="paCapSize" type="text">
                                            <label for="paCapSize">Target Cap Size (Absolute Dollars)</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col col s12 l6 m6">
                                            <i class="material-icons prefix">date_range</i>
                                            <input formControlName="paFirstClose" type="text" class="datepicker">
                                            <label for="paFirstClose">Anticipated First Close</label>
                                        </div>
                                        <div class="input-field col col s12 l6 m6">
                                            <i class="material-icons prefix">date_range</i>
                                            <input formControlName="paFinalClose" type="text" class="datepicker">
                                            <label for="paFinalClose">Anticipated Final Close</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">work</i>
                                            <input formControlName="paHeadQuarters" type="text">
                                            <label for="paHeadQuarters">Headquarters</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">my_location</i>
                                            <textarea formControlName="paOfficeLocation" class="materialize-textarea"></textarea>
                                            <label for="paOfficeLocation">Additional Office Locations</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12 l6 m6">
                                            <i class="material-icons prefix">account_circle</i>
                                            <input formControlName="paContactName" name="paContactName" type="text" class="validate" [ngClass]="{ 'invalid': paFormSubmitted && pa.paContactName.errors }">
                                            <label for="paContactName">Contact Name</label>
                                            <div *ngIf="paFormSubmitted && pa.paContactName.errors" class="helpText red-text">
                                                <div *ngIf="pa.paContactName.errors.required">{{environment.helpText.contactNameReq}}</div>
                                            </div>
                                        </div>
                                        <div class="input-field col s12 l6 m6">
                                            <i class="material-icons prefix">phone</i>
                                            <input formControlName="paContactNumber" name="paContactNumber" type="text" class="validate" [ngClass]="{ 'invalid': paFormSubmitted && pa.paContactNumber.errors }">
                                            <label for="paContactNumber">Contact Number</label>
                                            <div *ngIf="paFormSubmitted && pa.paContactNumber.errors" class="helpText red-text">
                                                <div *ngIf="pa.paContactNumber.errors.required">{{environment.helpText.contactNumberReq}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12 l6 m6">
                                            <i class="material-icons prefix">email</i>
                                            <input formControlName="paContactEmail" type="email">
                                            <label for="paContactEmail">Contact Email</label>
                                        </div>
                                        <div class="input-field col s12 l6 m6">
                                            <i class="material-icons prefix">assignment_ind</i>
                                            <input formControlName="paPlacementAgent" type="text">
                                            <label for="paPlacementAgent">Placement Agent</label>
                                        </div>
                                    </div>
                                    <label class="uploadFileLbl"><em>Upload PPM file</em></label>
                                    <div class="file-field input-field">
                                        <div class="btn pdfBtn">
                                            <span>Choose File</span>
                                            <input type="file" formControlName="paFundPPMDoc" name="paFundPPMDoc">
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path" type="text" placeholder="Upload PPM file">
                                            <div class="red-text paPPMErrorTxt hide">You can upload only .ppm file</div>
                                        </div>
                                    </div>
                                    <label class="uploadFileLbl"><em>Upload Presentation Book</em></label>
                                    <div class="file-field input-field">
                                        <div class="btn pdfBtn">
                                            <span>Choose File</span>
                                            <input type="file" formControlName="paFundPPTDoc" name="paFundPPTDoc">
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path" type="text" placeholder="Upload Presentation Book">
                                            <div class="red-text paPPTErrorTxt hide">You can upload only .ppt, .pptx and .pps files</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12 center-align">
                                            <button class="btn waves-effect waves-light hoverable btn-primary" type="submit" name="paFundContactSubmitBtn">
                                                SUBMIT
                                                <i class="material-icons right">send</i>
                                            </button>
                                            <div><strong class="pAContactRes"></strong></div>
                                        </div>
                                    </div>
                                </form><!--------PA Fund Contact Form ends here------->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Direct Lending">
            <div class="card material-table hoverable">
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col s12">
                        <div class="card material-table hoverable">
                            <div id="dLForm">
                                <div class="headerDiv">
                                    <h5 class="grey-text text-darken-3 center-align">Direct Lending General Information</h5>
                                </div>
                                <div>
                                    <span class="red-text">*</span> indicates a required field
                                </div>
                                <!--------DL Fund Contact Form Starts here------->
                                <form class="dlFundContactForm fundContactForm" [formGroup]="dlFundContactForm" (ngSubmit)="dlFundContactFormSubmit()" novalidate>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">account_balance</i>
                                            <input formControlName="dlFirmName" name="dlFirmName" type="text" class="dlFirmName validate" [ngClass]="{ 'invalid': dlFormSubmitted && dl.dlFirmName.errors }">
                                            <label for="dlFirmName">Firm Name</label>
                                            <div *ngIf="dlFormSubmitted && dl.dlFirmName.errors" class="helpText red-text">
                                                <div *ngIf="dl.dlFirmName.errors.required">{{environment.helpText.firmNameReq}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">dashboard</i>
                                            <input formControlName="dlFundName" name="dlFundName" type="text" class="dlFundName validate" [ngClass]="{ 'invalid': dlFormSubmitted && dl.dlFundName.errors }">
                                            <label for="dlFundName">Fund Name</label>
                                            <div *ngIf="dlFormSubmitted && dl.dlFundName.errors" class="helpText red-text">
                                                <div *ngIf="dl.dlFundName.errors.required">{{environment.helpText.fundNameReq}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <strong class="subheader">Fund Financial Information</strong>
                                        <div>&nbsp;</div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12 l6 m6">
                                            <i class="material-icons prefix">date_range</i>
                                            <input formControlName="dlPerformanceEnding" type="text" class="datepicker dlDatePicker">
                                            <label for="dlPerformanceEnding">Performance Ending</label>
                                        </div>
                                        <div class="input-field col s12 l6 m6">
                                            <i class="material-icons prefix">date_range</i>
                                            <input formControlName="dlIncepDate" type="text" class="datepicker dlDatePicker">
                                            <label for="dlIncepDate">Fund Inception Date</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12 l6 m6">
                                            <i class="material-icons prefix">monetization_on</i>
                                            <input formControlName="dlGrossAssets" type="text">
                                            <label for="dlGrossAssets">Gross Assets ($ in millions)</label>
                                        </div>
                                        <div class="input-field col s12 l6 m6">
                                            <i class="material-icons prefix">monetization_on</i>
                                            <input formControlName="dlNetAssets" type="text">
                                            <label for="dlNetAssets">Net Assets ($ in millions)</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">dashboard</i>
                                            <input formControlName="dlFundLvlLev" type="text">
                                            <label for="dlFundLvlLev">Fund-Level Leverage (Debt to Equity)</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12 l6 m6">
                                            <i class="material-icons prefix">timeline</i>
                                            <input formControlName="dlGrossIRR" type="text">
                                            <label for="dlGrossIRR">Gross IRR</label>
                                        </div>
                                        <div class="input-field col s12 l6 m6">
                                            <i class="material-icons prefix">timeline</i>
                                            <input formControlName="dlNetIRR" type="text">
                                            <label for="dlNetIRR">Net IRR</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12 l6 m6">
                                            <i class="material-icons prefix">trending_down</i>
                                            <input formControlName="dlPercentDrawn" type="text">
                                            <label for="dlPercentDrawn">% Drawn</label>
                                        </div>
                                        <div class="input-field col s12 l6 m6">
                                            <i class="material-icons prefix">trending_up</i>
                                            <input formControlName="dlPercentDist" type="text">
                                            <label for="dlPercentDist">% Distributed</label>
                                        </div>
                                    </div>
                                    <div>
                                        <strong class="subheader">Portfolio Characteristics</strong>
                                        <div>&nbsp;</div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">exit_to_app</i>
                                            <input formControlName="dlAvgCompLev" type="text">
                                            <label for="dlAvgCompLev">Average Total Portfolio Company Leverage (at closing)</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">format_align_justify</i>
                                            <input formControlName="dlAvgCompLevInvst" type="text">
                                            <label for="dlAvgCompLevInvst">Average Portfolio Company Leverage through Investment (at closing)</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">format_indent_increase</i>
                                            <input formControlName="dlAvgPortComp" type="text">
                                            <label for="dlAvgPortComp">Average Portfolio Company EBITDA (at closing, $ in millions)</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">work</i>
                                            <input formControlName="dlAvgSponsorBacked" type="text">
                                            <label for="dlAvgSponsorBacked">Sponsor Backed Transactions (% of Invested Capital)</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12 l6 m6">
                                            <i class="material-icons prefix">view_list</i>
                                            <input formControlName="dlNumOfCredits" type="text">
                                            <label for="dlNumOfCredits">Number of Credits</label>
                                        </div>
                                        <div class="input-field col s12 l6 m6">
                                            <i class="material-icons prefix">widgets</i>
                                            <input formControlName="dlPercentUs" type="text">
                                            <label for="dlPercentUs">% U.S.</label>
                                        </div>
                                    </div>
                                    <div>
                                        <strong class="subheader">Credit Profile</strong>
                                        <div>&nbsp;</div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12 l6 m6">
                                            <i class="material-icons prefix">tonality</i>
                                            <input formControlName="dlFstLien" type="text">
                                            <label for="dlFstLien">First Lien</label>
                                        </div>
                                        <div class="input-field col s12 l6 m6">
                                            <i class="material-icons prefix">timelapse</i>
                                            <input formControlName="dlUnitranche" type="text">
                                            <label for="dlUnitranche">Unitranche</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12 l6 m6">
                                            <i class="material-icons prefix">slow_motion_video</i>
                                            <input formControlName="dlSecLien" type="text">
                                            <label for="dlSecLien">Second Lien</label>
                                        </div>
                                        <div class="input-field col s12 l6 m6">
                                            <i class="material-icons prefix">settings_input_svideo</i>
                                            <input formControlName="dlSubDebts" type="text">
                                            <label for="dlSubDebts">Subordinated Unsecured Debt</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12 l6 m6">
                                            <i class="material-icons prefix">pie_chart</i>
                                            <input formControlName="dlOthrEquity" type="text">
                                            <label for="dlOthrEquity">Equity/Other</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12 center-align">
                                            <button class="btn waves-effect waves-light hoverable" type="submit">
                                                SUBMIT
                                                <i class="material-icons right">send</i>
                                            </button>
                                            <div><strong class="dlContactRes"></strong></div>
                                        </div>
                                    </div>
                                </form>

                                <!--------DL Fund Contact Form ends here------->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
      </mat-tab-group>
</div>
