.termsContainer {
    width: 960px;
    margin: 0 auto;

    .termsDiv {
        div, p {
            font-size: 14px;
            line-height: 140%;
        }
        p {
            margin: 0 0 20px;
            text-align: justify;
        }
    }

    .strong {
        font-weight: 500;
    }
}