<div class="container-fluid alternativesContainer">
    <div class="row">
        <div class="alertnativesContent">
            <div class="row">
                <div class="col s12 xl6">
                    <div id="privateEquitySection">
                        <h5 class="subheader">Private Equity</h5>
                        <p class="content">
                            Cliffwater research shows that diversified private equity portfolios have historically delivered net returns above publicly traded stocks at comparable levels of risk.
                        </p>
                        <p class="content">
                            Diversification generally includes allocations to buyouts, venture, distressed, and non-US funds.
                        </p>
                        <p class="content">
                            We believe that the keys to success include a consistent commitment pace by vintage year, a rigorous due diligence process to identify top funds, and strong relationships to ensure access.
                        </p>
                        <p class="private-equity link ServiceLnks">
                            <a target="_blank" href="/Research#PEFundDocuments">Access Cliffwater Private Equity Research</a>
                        </p>
                    </div>
                    <div id="privateDebtSection">
                        <h5 class="subheader">Private Debt</h5>
                        <p class="content">
                            We believe that private debt has been providing investors the cash yield absent from traditional fixed income. Cliffwater has been a leader in private debt research, creating the Cliffwater Direct Lending Index, a benchmark for direct lending, and the Cliffwater BDC Index, a benchmark for publicly traded Business Development Companies.
                        </p>
                        <p class="content">
                            In recognition of this research, Private Debt Investor named Stephen Nesbitt, Cliffwater's CEO, one the 30 most influential people in private debt in 2018.  In 2019, Mr. Nesbitt authored the book, <a (click)="openBDCSConfirmMdl()" class="siteLink customModalLnk link">Private Debt: Opportunities in Corporate Direct Lending</a> (Wiley Finance).
                        </p>
                        <p class="private-equity link ServiceLnks">
                            <a target="_blank" href="/Research#PrivateDebt">Access Cliffwater Private Debt Research</a>
                        </p>
                    </div>
                    <div id="realAssetsSection">
                        <h5 class="subheader">Real Assets and Real Estate</h5>

                        <p class="content">
                            Real assets are expected to provide a stable real return and a hedge against unexpected inflation.
                        </p>
                        <p class="content">
                            Real estate is the  oldest institutional alternative asset class but Cliffwater research shows that investors have had vastly different outcomes, demonstrating the importance of a consistent strategy and fund selection.
                        </p>
                        <p class="content">
                            We believe that Infrastructure, energy, and renewables have become an important extension of private real assets and are an important part of our real asset sourcing and due diligence.
                        </p>
                        <p class="private-equity link ServiceLnks">
                            <a target="_blank" href="/Research#RealAssetsDocuments">Access Cliffwater Real Assets Research</a>
                        </p>
                    </div>
                    <div id="hfSection">
                        <h5 class="subheader">Hedge Funds</h5>

                        <p class="content">
                            Principal protection gained investor attention after the Financial Crisis but has waned as stock returns set record advances with low volatility thanks to Federal Reserve policies.
                        </p>
                        <p class="content">
                            Nonetheless, certain hedge funds have offered steady, moderate returns at low volatility and low correlation to stocks.  Cliffwater sources and conducts due diligence on a broad universe of hedge funds across seven major strategies, looking for hedge funds generating sustainable alpha at low risk.  Cliffwater's clients have also seeded opportunistic funds launched by hedge funds that take advantage of market dislocations at attractive fees.
                        </p>
                        <div class="ServiceLnks">
                            <p class="private-equity link">
                                <a target="_blank" href="/Research#HedgeFundDocuments">
                                    Access Cliffwater Hedge Funds Research
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col s12 xl6 graphSection">
                    <div id="divInvDDRPieChart">
                        <h5 class="subheader">Investment Due Diligence</h5>
                        <app-high-chart-tmplt [plotChartOptions]="invDDRPieChartOptions"></app-high-chart-tmplt>
                    </div>
                    <div id="divOprDDRPieChart" style="margin-top:5%">
                        <h5 class="subheader">Operations Due Diligence</h5>
                        <app-high-chart-tmplt [plotChartOptions]="oprDDRPieChartOptions"></app-high-chart-tmplt>
                    </div>
                    <div id="divLegalDDRPieChart" style="margin-top:5%">
                        <h5 class="subheader">Legal Due Diligence</h5>
                        <app-high-chart-tmplt [plotChartOptions]="legalDDRPieChartOptions"></app-high-chart-tmplt>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-----------------------------Private Debt : Opportunities in Corporate Direct Lending - popup--------------------------------->
<ng-template #bdcsConfirmPopup>
    <mat-dialog-content class="bdcsConfirmMdlBody">
        <div class="contentContainer">
            <p>You are now leaving the Cliffwater LLC website. Cliffwater LLC ("Cliffwater") provides links to third-party websites only as a convenience, and the inclusion of such links does not imply any endorsement, approval, investigation, verification or monitoring by us of any content or information contained within or accessible from the linked sites. If you choose to visit the linked site, you do so at your own risk, and you will be subject to such site's terms of use and privacy policies, over which Cliffwater has no control. In no event will Cliffwater be responsible for any information or content within the linked site or your use of the linked site.</p>
            <p>The views and opinions expressed in the book at the link are those of the author and do not necessarily reflect the views of Cliffwater or its employees. The book is not intended to, and does not relate specifically to, any investment strategy or product that Cliffwater offers. It is not investment advice and it is not an offer of any security. The information contained in the book is only as current as of the date indicated, and may be superseded by subsequent market events or for other reasons. Neither the author nor Cliffwater undertakes to advise you of any changes in the views expressed in the book.</p>
            <p>Information on the Cliffwater Direct Lending Index (CDLI) and the Cliffwater BDC Index (CWBDC) is provided on an "as is" and "as available" basis without any warranty of any kind. Past performance of an index is not indicative of future returns. The performance of the CDLI and CWBDC has not been reviewed by an independent accounting firm. Index returns do not reflect payment of any sales charges or fees. Any information presented prior to the launch date (9/30/15 for the CDLI, and 1/1/15 for the CWBDC) is back-tested. Unless otherwise indicated, the back-tested calculations are based on the same methodology that was in effect when the indices were officially launched. Back-tested performance is not actual performance, but is hypothetical. Prospective application of the methodology used to construct an index may not result in performance commensurate with any back-tested returns. Back-tested data reflect the application of an index methodology and selection of index constituents in hindsight. No hypothetical record can completely account for the impact of financial risk in actual trading.</p>
        </div>
        <div class="center-align btnContainer">
            <button class="waves-effect waves-light btn btn-primary" (click)="bdcsConfirmBtnClick()">
                <i class="material-icons right">check</i>Ok
            </button>
            <button class="waves-effect waves-light btn btn-primary" (click)="dialogClose()">
                <i class="material-icons right">cancel</i>Cancel
            </button>
        </div>
    </mat-dialog-content>
</ng-template>



