$sub_header_border_color: #379695;;
$private_equity_bg_color: #e2f2f1;
$private_equity_border_color: #234d4b;
$private_equity_link_color: #052a29;

.alternativesContainer {

    .subheader {
        padding-bottom: 16px;
        border-bottom: 2px solid $sub_header_border_color;
    }

    #allocationSection {
        p,ul {
            font-size: 15px;
        }
    }

    .private-equity {
        padding: 3px 5px 2px;
        background: $private_equity_bg_color none repeat scroll 0 0;
        border-left: 11px solid $private_equity_border_color;
        a {
            color: $private_equity_link_color !important;
        }
    }

    p {
        text-align: justify;
    }
    .list {
        padding-left: 40px;

        li {
            list-style-type: disc;
            line-height: 30px;
        }

        .subList {
            padding-left: 40px;
            list-style-type: circle;
            line-height: 30px;

            li {
                list-style-type: circle;
                line-height: 30px;
            }
        }
    }

    .chartHeader {
        &.subheaderTitle {
            padding-bottom: 13px;
            border-bottom: 2px solid $sub_header_border_color;
        }

        span {
            font-size: 16px;
        }
    }

    .disclosureParaWrap {
        p {
            font-size: 10px;
            line-height: 13px;
            font-weight: 300;
        }
    }

    .matrixTableWrapper {
        margin-top: 9%;
        display: block;
        padding-left: 50px;
    }

    .imgWrapper {
        width: 100%;
        height: 100%;
    }
}