<div class="container-fluid aboutUsContainer">
    <div class="abousUsContent">
        <div class="row noMargin">
            <div class="col s12 xl6">
                <div id="roleSection">
                    <p class="heading">
                        Cliffwater LLC, founded in 2004, provides <strong>research</strong> and <strong>investment due diligence</strong> services for the full range of <strong>alternative investments</strong>, assisting clients in both <strong>discretionary</strong> and <strong>non-discretionary</strong> capacities to seek to achieve risk-adjusted returns beyond those found in traditional asset classes.
                    </p>
                    <div class="private-equity link ServiceLnks center">
                        <a routerLink="/OurTeam" target="_blank">Click here to meet Cliffwater's Team</a>
                    </div>
                </div>
                <div class="teamsImageWrapper center">
                    <div class="row">
                        <div class="col xl4 s12 m4">
                            <img src="../../../assets/images/team/stephennesbitt.jpg" alt="stephennesbitt" />
                        </div>
                        <div class="col xl4 s12 m4">
                            <img src="../../../assets/images/team/kathleenbarchick.jpg" alt="kathleenbarchick" />
                        </div>
                        <div class="col xl4 s12 m4">
                            <img src="../../../assets/images/team/gabriellezadra.jpg" alt="gabriellezadra" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 xl6 graphSection">
                <div class="imgaeContainer">
                    <img src="../../../assets/images/wordUniverse.jpg" alt="research" style="width:100%;" />
                </div>
                <div class="disclosureParaWrap">
                    <p>
                        The above chart is provided for information and discussion purposes, and is not meant to be, nor shall it be construed as, an attempt to define all information that may be material to you. There can be no assurance that any rate of return, risk, or yield will be achieved. Rate of return, risk, and yield expectations are subjective determinations by Cliffwater based on a variety of factors, including, among other things, investment strategy, prior performance of similar strategies, and market conditions. Expected rate of return, risk, and yield (1) may be based upon assumptions regarding future events and conditions that prove to be inaccurate, (2) should not be relied upon as an indication of future performance and (3) should not form the primary basis for an investment decision. Other industry participants may categorize assets differently. The information and opinions above do not constitute investment advice.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
