$private_equity_bg_color: #e2f2f1;
$private_equity_border_color: #234d4b;
$private_equity_link_color: #052a29;

.aboutUsContainer {

    .heading {
        font-size: 20px;
        line-height: 29px;
        margin-bottom: 36px;
    }

    p {
        text-align: justify;
    }

    .private-equity {
        padding: 3px 5px 2px;
        background: $private_equity_bg_color none repeat scroll 0 0;
        border-left: 11px solid $private_equity_border_color;
        a {
            color: $private_equity_link_color !important;
        }
    }

    .teamsImageWrapper {
        margin-top: 45px;
    }

    .disclosureParaWrap p {
        font-size: 10px;
        line-height: 13px;
        font-weight: 300;
    }

    .imgaeContainer {
        margin-top:15px;
    }
}