@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';
@import './assets/scss/variable.scss';


html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    position: relative;
    height: auto;
    min-height: 100vh;
    line-height: 1.5;
}

main {
    height: calc(100% - 50px - 50px);
    /*padding-top: 30px;*/
    clear: both;
}

.container-fluid {
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
}

.text-gray {
    color: $gray_color !important;
}

.noMargin {
    margin: 0 !important;
}

.imgWrapper {
    width: 100%;
    height: 100%;
}

.subheader {
    padding-bottom: 16px;
    border-bottom: 2px solid $header_border_color;
}

.text-underline {
    text-decoration: underline;
}

.no-bottom-margin {
    margin-bottom: 0 !important;
}

/*.underline-link {
    position: relative;
    color: $theme_color !important;
    margin-right: 5px !important;
    text-decoration: none;
}

.underline-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $theme_color;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.underline-link:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}*/

/***********************************Anchor - Style Starts Here***********************************************/
a {
    color: $link_color !important;

    &:focus {
        outline : none !important;
    }

    &.link {
        &:hover {
            font-weight : 500;
        }
    }

    &.hover-link {
        &:hover, &:focus {
            color: $link_color !important;
            cursor: pointer;
            border-bottom: 2px solid $link_color !important;
            background: transparent !important;
            font-weight: normal;
        }
    }

    &.btn-flat {
        &:hover, &:focus {
            background: transparent !important;
        }
    }
}

/***********************************Margin - Style Starts Here***********************************************/
.mr10 {
    margin-right: .326rem;
}

.mt115 {
    margin-top: 7.5rem;
}

/***********************************Button - Style Starts Here***********************************************/
@mixin primary-button {
    text-decoration: none !important;
    color: $white_color !important;
    background-color: $primary_color !important;
    text-align: center !important;
    letter-spacing: .5px !important;
    transition: .2s ease-out !important;
}


button, a {
    &.btn {
        @include primary-button;
    }
}

.btn, .btn-large, .btn-small {
    @include primary-button;
}

i {
    &.material-icons {
        &.btnIcon {
            color: $table_material_icon_color !important;
        }
    }
}

/***********************************Select - Style Starts Here***********************************************/
.dropdown-content {
    li {
        a, span {
            color: $primary_color !important;
        }
    }
}

/***********************************Tabs - Style Starts Here***********************************************/
.mat-tab-group {
    .mat-tab-header {
        box-shadow: 0 2px 2px 0 #00000024, 0 3px 1px -2px #0000001f, 0 1px 5px 0 #00000033;
        .mat-tab-list {
            .mat-tab-label {
                width: 100%;
                text-transform: uppercase;
                margin: 0 auto;
                opacity: 1;

                &.mat-tab-label-active {
                    background-color: $theme_color;
                    color: $white_color;
                }
            }
        }
    }

    .mat-tab-body {
        &.mat-tab-body-active {
            overflow-y: hidden;
            .mat-tab-body-content {
                overflow-y: hidden;
            }
        }
    }

    .mat-ink-bar {
        visibility: hidden !important;
    }
}

/****************************Input - Style Starts Here******************************/
input[type=password]:focus, input[type=password]:active, input[type=password].active, input[type=password]:hover, input[type=email]:focus, input[type=email]:active, input[type=email].active, input[type=email]:hover, input[type=text]:focus, input[type=text]:active, input[type=text].active, input[type=text]:hover, input[type=tel]:focus, input[type=tel]:active, input[type=tel].active, input[type=tel]:hover, textarea:focus, textarea:active, textarea:hover {
    color: $input_field_text_color;
    border-bottom: 1px solid $primary_color !important;
    box-shadow: 0 1px 0 0 $primary_color !important;
}

.input-field {
    .helpText {
        margin-left: 3rem;
    }
}

label {
    &.active {
        color: $primary_color !important;
    }
}

.material-icons {
    &.active {
        color: $primary_color !important;
    }
}

/****************************Modal - Style Starts Here******************************/
.customModalLnk {
    &:hover {
        cursor: pointer;
    }
}

.mat-dialog-container {
    padding: 0 !important;

    .mat-dialog-content {
        margin: 0 !important;
    }

    .mat-dialog-actions {
        display: block;
    }

    //Email Required Popup Style
    .emailReqPopupTitle {
        background: $theme_color;
        padding: 6px 5px 0 5px;
        width: 500px;
    }
    .emailReqPopupBody {
        padding: 0 16px 14px 16px;
        overflow-x: hidden;
    }

    //Popup - Button Styles
    .btnContainer {
        padding-top: 20px;
        button:nth-child(1) {
            margin-right: 10px;
        }
    }

    //Alternatives - Private Debt Popup Styles
    .bdcsConfirmMdlBody {
        .contentContainer {
            padding: 20px 0;
            font-size: 15px;
        }
    }

    //Indices - Methodology Popup Style
    .methodologyTable {
        font-size: 0.8rem !important;
        padding: 0;
        margin: 1rem 0;
        width: 100% !important;
        border-top: 1px solid $custom_tbl_border_color;
        border-bottom: 1px solid $custom_tbl_border_color;

        tbody {
            tr {
                td {
                    padding: 4px 5px;
                    &:nth-child(1) {
                        background-color: $custom_tbl_bg_color;
                        font-style: italic;
                        width: 20%;
                    }
                }
            }
        }
    }
}
/**************************************Card - Styles starts here*************************************/
.card {
    .card-title {
        background-color: $card_title_bg_color !important;
        border-top: 1px solid $card_title_border_color;
        padding: 0.25em 0 0.25em 1em;
    }
}




/**************************************Careers - Styles starts here*************************************/
.careersContainer {
    ul {
        li {
            list-style: square !important;
            margin-left: 20px;
            padding: 8px 0;
        }
    }
}

/***********************************Home - Styles starts here*************************************/
body {
    &.bgGray {
        background: $home_bg_color;
    }
}

/***********************************ngx-datatable - Styles starts here*************************************/
ngx-datatable.ngx-datatable.material {
    font-size: 15px;
    box-shadow: none;
    .datatable-header-cell {
        &.sortable {
            cursor: pointer;
        }
        &.center-align {
            text-align: center !important;
        }
    }
    .datatable-body {
        datatable-body-row.datatable-body-row {
            vertical-align: top;
            border-top: 1px solid $datatable_border_color;

            &.datatable-row-even {
                background-color: $datatable_even_row_color;
                &:hover {
                    background-color: $datatable_even_row_color !important;
                }
            }
            &.datatable-row-odd {
                &:hover {
                    background-color: $white_color !important;
                }
            }
            .datatable-body-cell {
                padding: 8px 1.2rem !important;
                &.center-align {
                    text-align: center;
                }
            }
        }

        .datatable-scroll {
           display: inherit;
        }
    }

    .datatable-footer {
        .datatable-footer-inner {
            justify-content: flex-end;
        }
        .page-count {
            flex: none !important;
        }

        .datatable-pager {
            flex: none !important;
            .pager {
                li {
                    &.pages {
                        a {
                            display: none !important;
                        }
                    }
                    a {
                        &:hover {
                            background-color: $white_color !important;
                        }
                        i {
                            color: $table_material_icon_color;
                        }
                        .datatable-icon-right, .datatable-icon-left {
                            font-size: 24px;
                        }
                    }
                    
                }

                li:last-child, li:first-child {
                    display: none;
                }
            }
        }
        .page-limit-container {
            padding-left: 20px;
            select {
                display: block;
                border: none;
                font-size: 12px;
                color: $table_material_icon_color;
                padding: 0;
                height: auto;
            }
        }
    }
}

/***********************************Account page - Styles starts here*************************************/
.accountPage {
    header, footer {
        display: none;
    }
}

/***********************************Mat AutoComplete - Styles starts here*************************************/
.mat-autocomplete-panel {
    max-height: 650px !important;

    .mat-option {
        line-height: inherit;
        height: inherit;
        padding: 10px 16px;
        white-space: normal;
        &:hover:not(.mat-option-disabled) {
            background : $theme_color !important;
            color: $white_color !important;
        }
    }
}

/***********************************PDF Viewer - Styles starts here*************************************/
ngx-extended-pdf-viewer {
    pdf-paging-area {
        .toolbarField {
            &.pageNumber {
                padding: 3px 6px;
                margin: 4px 0 4px 0;
                border: 1px solid transparent;
                border-radius: 2px;
                background-color: #ffffff17;
                background-image: linear-gradient(hsla(0,0%,100%,.05),hsla(0,0%,100%,0));
                background-clip: padding-box;
                border: 1px solid #00000059;
                border-color: hsla(0,0%,0%,.32) hsla(0,0%,0%,.38) hsla(0,0%,0%,.42);
                box-shadow: 0 1px 0 hsla(0,0%,0%,.05) inset, 0 1px 0 hsla(0,0%,100%,.05);
                color: hsl(0,0%,95%);
                font-size: 12px;
                line-height: 14px;
                outline-style: none;
                transition-property: background-color,border-color,box-shadow;
                transition-duration: 150ms;
                transition-timing-function: ease;
                height: 14px;
                width: auto;
            }
        }
    }
}

/***********************************nouislider - Styles starts here*************************************/
nouislider {
    &.ng2-nouislider {
        width: 75%;
        margin-top: 25px;
        margin-left: auto;
    }

    .noUi-target {
        border: none;
        box-shadow: none;
        height: 3px;
        background-color: $no_ui_slider_bg_color;
        &.noUi-horizontal {
            .noUi-tooltip {
                bottom: auto;
                margin-top: 5px;
                border: none;
                font-size: 0.8rem;
                &:hover {
                    outline: none;
                }
            }
        }
    }

    .noUi-connect {
        background: $primary_color;
    }

    .noUi-handle {
        width: 15px !important;
        height: 15px !important;
        border-radius: 50%;
        box-shadow: none;
        background-color: $primary_color;
        border: none;
        left: 5px;
        top: -6px;
        transition: width .2s cubic-bezier(0.215, 0.610, 0.355, 1.000), height .2s cubic-bezier(0.215, 0.610, 0.355, 1.000), left .2s cubic-bezier(0.215, 0.610, 0.355, 1.000), top .2s cubic-bezier(0.215, 0.610, 0.355, 1.000);
        &:after, &:before {
            display: none;
        }
    
    }
}