<div class="container-fluid indicesContainer">
    <div class="indicesContent">
        <div class="row">
            <div class="col s12 m6 xl5 CDLIIndicesWrapper">
                <div class="CDLIWrapper">
                    <div class="row">
                        <h5 class="subheader"><i class="fa fa-area-chart"></i>&nbsp;CDLI INDEX&nbsp;<a (click)="dialog.open(emailReqPopup)" class="customModalLnk"><img src="../../../assets/images/download.png" height="100%"/></a></h5>

                        <p class="text-justify mainPara">
                            The <a href="http://www.cliffwaterdirectlendingindex.com/" target="_blank" class="siteLink link">Cliffwater Direct Lending Index (CDLI)</a> seeks to measure the unlevered, gross of fee performance of U.S. middle market corporate loans, as represented by the asset-weighted performance of the underlying assets of Business Development Companies (BDCs), including both exchange-traded and unlisted BDCs, subject to certain eligibility requirements. The CDLI Total Return Index includes three components: Income Return, Realized Gain/Loss, and Unrealized Gain/Loss.
                        </p>
                        <div>
                            <strong class="index-link index-link-text">Click here to view:</strong>
                            <a class="index-link link" href="http://www.cliffwaterdirectlendingindex.com/" target="_blank">
                                CDLI Analytics
                            </a>&nbsp;|
                            <a class="index-link customModalLnk link" (click)="openBloombergIndexPopup()">
                                CDLI Index on Bloomberg
                            </a>
                        </div>

                        <div class="cdli-secondary-option">
                            <a (click)="openCDLIMethodologyPopup()" class="btn btn-primary customModalLnk mr10">
                                <i class="fa fa-calculator"></i>&nbsp;&nbsp;Methodology
                            </a>
                            <a (click)="openEmailReqPopup('cdliHistory')" class="locked btn btn-xs btn-primary customModalLnk" data-id="CDLI">
                                <i class="fa fa-history"></i>&nbsp;&nbsp;History
                            </a>
                        </div>
                    </div>
                    <div class="row indexCharacter">
                        <h5 class="subheader">Index Characteristics</h5>
                        <div id="index-char-container" class="">
                            <table class="indicesTbl">
                                <tr>
                                    <td>▪ Index Value (Jun 30, 2019)</td>
                                    <td> 3873.03</td>
                                </tr>
                                <tr>
                                    <td>▪ Assets (Fair Value)</td>
                                    <td>$107.7 Billion</td>
                                </tr>
                                <tr>
                                    <td>▪ Yield</td>
                                    <td>10.21%</td>
                                </tr>
                                <tr>
                                    <td>▪ Number of Loans</td>
                                    <td>&gt; 6,000</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="CDLIImgWrapper mt115">
                        <img src="../../../assets/images/directLendingComponent.png" class="imgWrapper" alt="" />
                    </div>
                    <div class="row indicesListBtnGroup hide-on-med-and-up">
                        <div class="col s12 m6 xl12 btnGroup">
                            <ul class="list-style-none center">
                                <li class="mb1"><a routerLink="/CDLI/Definitions" class="btn btn-small btn-primary">Definitions</a></li>
                                <li class="mb1"><a routerLink="/CDLI/Definitions" class="btn btn-small btn-primary">Disclosures</a></li>
                                <li class="mb1"><a routerLink="/CDLI/Definitions" class="btn btn-small btn-primary">Terms &amp; Conditions</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col xl1"></div>
            <div class="col s12 m6 xl5">
                <div class="CWBDCWrapper">
                    <div class="row">
                        <h5 class="subheader"><i class="fa fa-area-chart"></i>&nbsp;CWBDC Index&nbsp;<a (click)="dialog.open(emailReqPopup)" class="customModalLnk"><img src="../../../assets/images/download.png" height="100%"/></a></h5>
                        <p class="text-justify mainPara">The <a class="siteLink link" target="_blank" href="http://bdcs.com/">Cliffwater BDC Index (CWBDC)</a> measures the performance of lending-oriented, exchange-traded Business Development Companies, subject to certain eligibility criteria regarding portfolio composition, market capitalization, and dividend history. The CWBDC is a capitalization-weighted index that is calculated on a daily basis using publicly-available closing share prices and reported dividend payouts. The CWBDC Total Return Index includes two components:   1) Income Return and 2) Price Return.</p>
                        <div>
                            <strong class="index-link index-link-text">Click here to view:</strong>
                            <a class="index-link link" href="http://bdcs.com" target="_blank">
                                CWBDC Analytics
                            </a>&nbsp;|
                            <a class="index-link customModalLnk link" (click)="openBloombergIndexPopup()">CWBDC Index on Bloomberg</a>
                        </div>
                        <div class="chart-secondary-option">
                            <a (click)="openEmailReqPopup('cwbdcHistory')" class="locked btn btn-xs btn-primary customModalLnk mr10" data-id="bdc">
                                <i class="fa fa-history"></i>&nbsp;&nbsp;History
                            </a>
                            <a (click)="openCWBDCMethodologyPopup()" class="btn primary-btn btn-primary customModalLnk mr10">
                                <i class="fa fa-calculator"></i>&nbsp;&nbsp;Methodology
                            </a>
                            <a (click)="openEmailReqPopup('cwbdcConst')" class="locked btn btn-xs btn-primary hvr-push customModalLnk mr10">
                                <i class="fa fa-pie-chart"></i>&nbsp;&nbsp;Constituents
                            </a>
                        </div>
                    </div>
                    <div class="row indexCharacter">
                        <h5 class="subheader">Index Characteristics</h5>
                        <table id="tblIndexCharacteristics" class="indicesTbl">
                            <tr>
                                <td>▪ Close (<span id="lblContextDate">Jun 10, 2019</span>)</td>
                                <td id="tdIndexValue"> 2795.12</td>
                            </tr>
                            <tr>
                                <td>▪ Number of Companies</td>
                                <td id="tdNoOfCompanies">41</td>
                            </tr>
                            <tr>
                                <td>▪ Index Yield</td>
                                <td id="tdYield">9.32%</td>
                            </tr>
                            <tr>
                                <td>▪ Market Capitalization</td>
                                <td id="tdMarketCap">$33.3 Billion</td>
                            </tr>
                            <tr>
                                <td>▪ NAV Premium/Discount</td>
                                <td id="tdPremiumDiscount">-3.19%</td>
                            </tr>
                            <tr>
                                <td>▪ Launch Date</td>
                                <td id="tdLaunchDate">January 1, 2015</td>
                            </tr>
                        </table>
                        <div class="row center-align" [class.hide]="isIndexCharLoaded" id="hFReturnAndRiskTblSpinner">
                            <h3></h3>
                            <div class="preloader-wrapper small active">
                                <div class="spinner-layer spinner-blue-only">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div><div class="gap-patch">
                                        <div class="circle"></div>
                                    </div><div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="BDCSImgWrapper mt50">
                        <h5 class="subheader">CWBDC % Premium/Discount on NAV</h5>
                        <div class="BDCSImgHeight overflowAuto">
                            <app-high-chart-tmplt [plotChartOptions]="premDiscChartOptions"></app-high-chart-tmplt>
                            <div class="row center-align" [class.hide]="isAreaChartLoaded"  id="premDiscountChartSpinner">
                                <h3>&nbsp;</h3>
                                <div class="preloader-wrapper small active">
                                    <div class="spinner-layer spinner-blue-only">
                                        <div class="circle-clipper left">
                                            <div class="circle"></div>
                                        </div><div class="gap-patch">
                                            <div class="circle"></div>
                                        </div><div class="circle-clipper right">
                                            <div class="circle"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row indicesListBtnGroup hide-on-med-and-up">
                        <div class="col s12 m6 xl12 btnGroup">
                            <ul class="list-style-none center">
                                <li class="mb1"><a routerLink="/CWBDC/Definitions" class="btn btn-small btn-primary">Definitions</a></li>
                                <li class="mb1"><a routerLink="/CWBDC/Disclosures" class="btn btn-small btn-primary">Disclosures</a></li>
                                <li class="mb1"><a routerLink="/CWBDC/Terms" class="btn btn-small btn-primary">Terms &amp; Conditions</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row indicesListBtnGroup hide-on-small-only">
        <div class="col s12 m6 xl5 btnGroup leftMarginBtn">
            <ul class="list-style-none center">
                <li class=""><a routerLink="/CDLI/Definitions" class="btn btn-small btn-primary primary-btn">Definitions</a></li>
                <li class=""><a routerLink="/CDLI/Disclosures" class="btn btn-small btn-primary primary-btn">Disclosures</a></li>
                <li class=""><a routerLink="/CDLI/Terms" class="btn btn-small btn-primary primary-btn">Terms &amp; Conditions</a></li>
            </ul>
        </div>
        <div class="col xl1"></div>
        <div class="col s12 m6 xl5 btnGroup">
            <ul class="list-style-none center">
                <li class=""><a routerLink="/CWBDC/Definitions" class="btn btn-small btn-primary primary-btn">Definitions</a></li>
                <li class=""><a routerLink="/CWBDC/Disclosures" class="btn btn-small btn-primary primary-btn">Disclosures</a></li>
                <li class=""><a routerLink="/CWBDC/Terms" class="btn btn-small btn-primary primary-btn">Terms &amp; Conditions</a></li>
            </ul>
        </div>
    </div>
</div>

<!----------------------CDLI Methodology Popup - Starts here---------------------------------------------->
<ng-template #methodologyCDLIPopup>
    <mat-dialog-content class="methodologyPopup">
        <div class="center-align contentTitle">
            <h5>The Cliffwater Direct Lending Index</h5>
            <h6>Index Construction Methodology and Definitions</h6>
            <h6>Last updated December 11, 2017</h6>
        </div>
        <div id="methodologyTable_wrapper">
            <table id="methodologyTable" class="methodologyTable cell-border no-footer" cellspacing="0" width="100%" role="grid" style="width: 100%;">
                <tbody>
                    <tr role="row">
                        <td>Overview</td>
                        <td>
                            The Cliffwater Direct Lending Index ("CDLI") seeks to measure the unlevered, gross of
                            fees
                            performance of U.S. middle market corporate loans, as represented by the underlying assets of
                            Business Development Companies ("BDCs"), including both exchange-traded and unlisted
                            BDCs, subject to certain Eligibility Criteria. The CDLI is an asset-weighted index that is
                            calculated
                            on a quarterly basis using financial statements and other information contained in the U.S.
                            Securities
                            and Exchange Commission ("SEC") filings of all eligible BDCs.
                        </td>
                    </tr>
                    <tr role="row">
                        <td>Valuation Dates</td>
                        <td>Calendar quarter-end</td>
                    </tr>
                    <tr role="row">
                        <td>Weighting Methodology</td>
                        <td>Asset-weighted</td>
                    </tr>
                    <tr role="row">
                        <td>Index Reconstitution</td>
                        <td>
                            <p>Quarterly based on the Eligibility Criteria</p>
                            <p>
                                The CDLI will be reconstituted typically within 75 calendar days, but no later than 90 calendar days, following the current Valuation Date.
                            </p>
                        </td>
                    </tr>
                    <tr role="row">
                        <td>Eligibility Criteria</td>
                        <td>
                            <p>All assets held by BDCs that meet the following criteria:</p>
                            <ul>
                                <li>
                                    ▪ &nbsp; Regulated by the SEC as a BDC under the Investment Company Act of 1940<p></p>
                                </li>
                                <li>
                                    ▪ &nbsp; Substantial majority (approximately 75%) of reported total assets are represented by direct loans made to corporate borrowers, as categorized by each BDC and subject to Cliffwater's discretion and<p></p>
                                </li>
                                <li>
                                    ▪ &nbsp; File SEC form 10-Q (or 10-K, as applicable) within 75 (or 90) calendar days following the current Valuation Date.
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr role="row">
                        <td>Index Returns and Components</td>
                        <td>
                            <ul class="index-components">
                                <li>Total Return</li>
                                <li>Income Return</li>
                                <li>Net Realized Gain / Loss</li>
                                <li>Net Unrealized Gain / Loss</li>
                            </ul>
                        </td>
                    </tr>
                    <tr role="row">
                        <td>Availability</td>
                        <td>Index returns generally will be published 75 days after calendar quarter-end.</td>
                    </tr>
                    <tr role="row">
                        <td>Launch Date</td>
                        <td>September 30, 2015</td>
                    </tr>
                    <tr role="row">
                        <td>Base Date</td>
                        <td>September 30, 2004</td>
                    </tr>
                    <tr role="row">
                        <td>Base Value</td>
                        <td>1000</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col s12 m6 left-align">
                <a class="link" target="_blank" routerLink="/CDLI/Disclosures">Disclosures</a>
            </div>
            <div class="col s12 m6 right-align">
                <button class="btn btn-primary" (click)="dialogClose()">Close</button>
            </div>
        </div>
    </mat-dialog-content>
</ng-template>

<!----------------------CWBDC Methodology Popup - Starts here---------------------------------------------->
<ng-template #methodologyCWBDCPopup>
    <mat-dialog-content class="methodologyPopup">
        <div class="center-align contentTitle">
            <h5>The Cliffwater BDC Index</h5>
            <h6>Index Construction Methodology and Definitions</h6>
            <h6>Last updated December 11, 2017</h6>
        </div>
        <div id="methodologyTable_wrapper">
            <table id="methodologyTable" class="methodologyTable cell-border no-footer" cellspacing="0" width="100%" role="grid" style="width: 100%;">
                <tbody>
                    <tr role="row">
                        <td>Overview</td>
                        <td>
                            The Cliffwater BDC Index ("CWBDC") measures the performance of lending-oriented,
                            exchange-traded
                            Business Development Companies ("BDCs"), subject to certain Eligibility Criteria. The CWBDC
                            is
                            a capitalization-weighted index that is calculated on a daily basis using
                            publicly-available
                            closing share prices and reported dividend payouts.
                        </td>
                    </tr>
                    <tr role="row">
                        <td>Valuation Dates</td>
                        <td>Daily (i.e., days on which U.S. stock markets are open)</td>
                    </tr>
                    <tr role="row">
                        <td>Weighting Methodology</td>
                        <td>Capitalization-weighted</td>
                    </tr>
                    <tr role="row">
                        <td>Index Reconstitution</td>
                        <td>
                            <p>Quarterly based on the Eligibility Criteria</p>
                            <p>
                                The CWBDC will be reconstituted typically within 75 calendar days, but no later than 90
                                calendar
                                days, following each calendar quarter end.
                            </p>
                        </td>
                    </tr>
                    <tr role="row">
                        <td>Eligibility Criteria</td>
                        <td>
                            <ul class="table-list">
                                <li>
                                    ▪ &nbsp; Regulated by the SEC as a BDC under the Investment Company Act of 1940;
                                </li>
                                <li>
                                    ▪ &nbsp; Substantial majority (approximately 75%) of reported total assets are represented by direct loans made to corporate borrowers, as categorized by each BDC and subject to Cliffwater's discretion;
                                </li>
                                <li>
                                    ▪ &nbsp; File SEC form 10-Q (or 10-K, as applicable) within 75 (or 90) calendar days following each calendar quarter end;
                                </li>
                                <li>
                                    ▪ &nbsp; Common stock listed on the NYSE or NASDAQ, and meets all the listing requirements of the applicable exchange;
                                </li>
                                <li>
                                    ▪ &nbsp; Paid a dividend within the past 180 days; and
                                </li>
                                <li>
                                    ▪ &nbsp; Market capitalization of at least $50 million.
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr role="row">
                        <td>Index Returns and Components</td>
                        <td>
                            <p>Total Return</p>
                            <p>Income Return</p>
                            <p>Price Return</p>
                        </td>
                    </tr>
                    <tr role="row">
                        <td>Availability</td>
                        <td>Index returns generally will be published daily.</td>
                    </tr>
                    <tr role="row">
                        <td>Launch Date</td>
                        <td>January 1, 2015</td>
                    </tr>
                    <tr role="row">
                        <td>Base Date</td>
                        <td>September 30, 2004</td>
                    </tr>
                    <tr role="row">
                        <td>Base Value</td>
                        <td>1000</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col s12 m6 left-align">
                <a class="link" target="_blank" routerLink="/CWBDC/Disclosures">Disclosures</a>
            </div>
            <div class="col s12 m6 right-align">
                <button class="btn btn-primary" (click)="dialogClose()">Close</button>
            </div>
        </div>
    </mat-dialog-content>
</ng-template>

<!----------------------CWBDC & CDLI Index on Bloomberg Popup - Starts here---------------------------------------------->
<ng-template #bloombergIndexPopup>
    <mat-dialog-content class="bloombergIndexPopupBody">
        <div class="contentContainer">
            <p>You are now leaving the Cliffwater LLC website. Cliffwater LLC ("Cliffwater") provides links to third-party websites only as a convenience, and the inclusion of such links does not imply any endorsement, approval, investigation, verification or monitoring by us of any content or information contained within or accessible from the linked sites. If you choose to visit the linked site, you do so at your own risk, and you will be subject to such site's terms of use and privacy policies, over which Cliffwater has no control. In no event will Cliffwater be responsible for any information or content within the linked site or your use of the linked site.</p>
            <p>The views and opinions expressed in the book at the link are those of the author and do not necessarily reflect the views of Cliffwater or its employees. The book is not intended to, and does not relate specifically to, any investment strategy or product that Cliffwater offers. It is not investment advice and it is not an offer of any security. The information contained in the book is only as current as of the date indicated, and may be superseded by subsequent market events or for other reasons. Neither the author nor Cliffwater undertakes to advise you of any changes in the views expressed in the book.</p>
            <p>Information on the Cliffwater Direct Lending Index (CDLI) and the Cliffwater BDC Index (CWBDC) is provided on an "as is" and "as available" basis without any warranty of any kind. Past performance of an index is not indicative of future returns. The performance of the CDLI and CWBDC has not been reviewed by an independent accounting firm. Index returns do not reflect payment of any sales charges or fees. Any information presented prior to the launch date (9/30/15 for the CDLI, and 1/1/15 for the CWBDC) is back-tested. Unless otherwise indicated, the back-tested calculations are based on the same methodology that was in effect when the indices were officially launched. Back-tested performance is not actual performance, but is hypothetical. Prospective application of the methodology used to construct an index may not result in performance commensurate with any back-tested returns. Back-tested data reflect the application of an index methodology and selection of index constituents in hindsight. No hypothetical record can completely account for the impact of financial risk in actual trading.</p>
        </div>
        <div class="center-align btnContainer">
            <button class="waves-effect waves-light btn btn-primary" (click)="bloombergIndexClick()">
                <i class="material-icons right">check</i>Ok
            </button>
            <button class="waves-effect waves-light btn btn-primary" (click)="dialogClose()">
                <i class="material-icons right">cancel</i>Cancel
            </button>
        </div>
    </mat-dialog-content>
</ng-template>

<!--------------------Email Required Popup Template - Starts here----------------------->
<ng-template #emailReqPopup>
    <h4 mat-dialog-title class="center-align emailReqPopupTitle">
        <img src="../../../assets/images/logo.png" height="50px" alt="Cliffwater Logo">
    </h4>
    <mat-dialog-content class="emailReqPopupBody">
        <form [formGroup]="emailReqForm" (ngSubmit)="emailReqFormSubmit()" novalidate>
            <div class="input-field">
                <i class="material-icons prefix">email</i>
                <input type="text" class="email validate" [ngClass]="{ 'invalid': submitted && f.email.errors }" formControlName="email">
                <label>Email*</label>
                <div *ngIf="submitted && f.email.errors" class="red-text helpText">
                    <div *ngIf="f.email.errors.required">{{environment.helpText.emailReq}}</div>
                    <div *ngIf="f.email.errors.email && !f.email.errors.required">{{environment.helpText.emailInvalid}}</div>
                </div>
            </div>
            <div class="input-field">
                <p>By clicking Accept, I accept the <a class="link" routerLink="/Terms" target="_blank">Terms of Use</a></p>
            </div>
            <div class="center-align btnContainer">
                <button class="waves-effect waves-light btn btn-primary" type="submit">
                    <i class="material-icons right">check</i>Accept
                </button>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                <button class="waves-effect waves-light btn btn-primary" (click)="dialogClose()">
                    <i class="material-icons right">cancel</i>Cancel
                </button>
            </div>
        </form>
    </mat-dialog-content>
</ng-template>