.indicesContainer {
    margin-left: 4% !important;

    .subheader {
        padding-bottom: 16px;
        border-bottom: 2px solid #379695;
    }

    .mainPara {
        min-height: 12rem;
    }

    .index-link {
        /*font-weight: 500;*/
        margin-bottom: 10px;
        display: inline-block;

        &.index-link-text {
            padding-right: 20px;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .btn {
        font-size: 12px;
        height: 2.063rem;
        line-height: 2.063rem;
    }

    .cdli-secondary-option, .chart-secondary-option {
        a {
            margin-bottom: 10px;
        }
    }

    .indicesTbl {
        tr {
            border-bottom: 1px solid transparent;

            td {
                padding: 5px 5px;
                &:first-child {
                    width: 70%;
                }
            }
        }
    }

    .indicesListBtnGroup {
        ul {
            margin: 0 auto;

            li {
                float: left;
                margin-right: 10px;
            }
        }
    }

    .BDCSImgWrapper {
        .subheader {
            text-align: center;
            font-size: 22px;
            color: #333;
            font-weight: 500;
            border: 0;
        }
    }

    .leftMarginBtn {
        margin-left: 4%;
    }

    .methodologyPopup {
        .contentTitle {
            padding: 20px 10px 10px 10px;
            font-weight: 500;
        }

       
    }
}