<header class="outerNavContainer">
    <div class="homeSimpleHeader navbar-fixed">
        <nav>
            <div class="nav-wrapper container-fluid">
                <div class="row show-on-small hide-on-med-and-up" style="background-color:#123448">
                    <div class="col s3">
                        <a href="#" data-target="mobile-nav" class="sidenav-trigger" aria-label="Mobile Nav">
                            <i class="material-icons">menu</i>
                        </a>
                    </div>
                    <div class="col s9">
                        <a href="/" class="brand-mobile-logo" aria-label="Brand Mobile Logo"><img src="../../assets/images/logo.png" height="30px" alt="Cliffwater Logo"></a>
                    </div>
                </div>
                <ul class="left hambugerOption hide-on-small-only">
                    <li class="menu_link">
                        <a class="nav-link" aria-label="nav-link">
                            <div id="nav-icon1" class="toggle-nav-bar" [class.open]="visible" (click)="slideToggle()">
                                <span class="hamburger-part hamburger-part-1"></span>
                                <span class="hamburger-part hamburger-part-2"></span>
                                <span class="hamburger-part hamburger-part-3"></span>
                            </div>
                        </a>
                    </li>
                </ul>
                <ul class="right  hide-on-small-only">
                    <li class="menu_link hambugerLoginLnk">
                        <a (click)="openLoginPopup()" class="black-text modal-trigger loginBtnLink hover-link">Client/Investor Login<i class="material-icons right">input</i> </a>
                    </li>
                </ul>
            </div>
            <ul class="sidenav" id="mobile-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a routerLink="/AboutUs"> About Us</a></li>
                <li><a routerLink="/MultiAsset">Multi-Asset</a></li>
                <li><a routerLink="/Alternatives">Alternatives</a></li>
                <li><a routerLink="/Research">Research</a></li>
                <li><a routerLink="https://cliffwaterfunds.com" rel="noreferrer" target="_blank">Funds</a></li>
                <li><a routerLink="/Indices">Indices</a></li>
                <li><a routerLink="/Contact">Contact Us</a></li>
                <li><a routerLink="/OurTeam">Our Team</a></li>
                <li><a routerLink="/Terms">Terms &amp; Conditions</a></li>
                <li><a routerLink="/Careers">Careers</a></li>
                <li><a id="loginBtn" href="#loginModal" class="black-text modal-trigger">Client Login<i class="material-icons right">input</i> </a></li>
            </ul>

            <ul id="slide-out" class="slideMenu center-align list-unstyled displayNone" [@slideInOut] *ngIf="visible">
                <li><a routerLink="/" (click)="onSideNavClick()">Home</a></li>
                <li><a routerLink="/AboutUs" (click)="onSideNavClick()"> About Us</a></li>
                <li><a routerLink="/MultiAsset" (click)="onSideNavClick()">Multi-Asset</a></li>
                <li><a routerLink="/Alternatives" (click)="onSideNavClick()">Alternatives</a></li>
                <li><a routerLink="/Research" (click)="onSideNavClick()">Research</a></li>
                <li><a href="https://cliffwaterfunds.com" rel="noreferrer" target="_blank">Funds</a></li>
                <li><a routerLink="/Indices" (click)="onSideNavClick()">Indices</a></li>
                <li><a routerLink="/Contact" (click)="onSideNavClick()">Contact Us</a></li>
                <li><a routerLink="/OurTeam" (click)="onSideNavClick()">Our Team</a></li>
                <li><a routerLink="/Careers" (click)="onSideNavClick()">Careers</a></li>
                <li><a routerLink="/Terms" (click)="onSideNavClick()">Terms &amp; Conditions</a></li>
            </ul>
        </nav>
    </div>
</header>

<!---------------------------------User Login - Popup Template----------------------------->
<ng-template #loginPopup>
    <h4 mat-dialog-title class="center-align emailReqPopupTitle">
        <img src="../../../assets/images/logo.png" height="50px" alt="Cliffwater Logo">
    </h4>
    <mat-dialog-content class="emailReqPopupBody">
        <form [formGroup]="loginForm" (ngSubmit)="loginFormSubmit()" novalidate>
            <div class="input-field">
                <i class="material-icons prefix">email</i>
                <input type="text" class="email validate" [ngClass]="{ 'invalid': submitted && f.email.errors }" formControlName="email">
                <label>Email*</label>
                <div *ngIf="submitted && f.email.errors" class="red-text helpText">
                    <div *ngIf="f.email.errors.required">{{environment.helpText.emailReq}}</div>
                    <div *ngIf="f.email.errors.email && !f.email.errors.required">{{environment.helpText.emailInvalid}}</div>
                </div>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">lock</i>
                <input type="password" class="password validate" [ngClass]="{ 'invalid': submitted && f.password.errors }" formControlName="password">
                <label>Password*</label>
                <div *ngIf="submitted && f.password.errors" class="red-text helpText">
                    <div *ngIf="f.password.errors.required">{{environment.helpText.passwordReq}}</div>
                </div>
            </div>
            <div class="passwordField">
                <label>
                    <input formControlName="showPassword" name="showPassword" type="checkbox">
                    <span>
                        Show Password
                    </span>
                </label>
            </div>
            <div class="input-field">
                <a class="link" routerLink="/Account/ForgotPassword" (click)="forgotPwdClick()">Forgot Password?</a>
                <div>By clicking Accept, I accept the <a class="link" routerLink="/Terms" target="_blank">Terms of Use</a></div>
            </div>
            <div class="center-align btnContainer">
                <button class="waves-effect waves-light btn btn-primary" type="submit">
                    <i class="material-icons right">check</i>Login
                </button>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                <button class="waves-effect waves-light btn btn-primary" (click)="dialogClose()">
                    <i class="material-icons right">cancel</i>Cancel
                </button>
            </div>
        </form>
    </mat-dialog-content>
</ng-template>
