$white_color: #ffffff;
$link_color: #0366d6;
$dropdown_bg_color: #17262de6;

.outerNavContainer {
    .toggle-nav-bar {
        width: 30px;
        height: 25px;
        position: relative;
        margin: 2px auto;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    
        span {
            &:nth-child(1) {
                top: 0;
            }
            &:nth-child(2) {
                top: 10px;
            }
        
            &:nth-child(3) {
            top: 20px;
            }
        }

        &.open span:nth-child(1) {
            top: 10px;
            -webkit-transform: rotate(135deg);
            -moz-transform: rotate(135deg);
            -o-transform: rotate(135deg);
            transform: rotate(135deg);
        }

        &.open span:nth-child(2) {
            opacity: 0;
            left: -60px;
        }

        &.open span:nth-child(3) {
            top: 10px;
            -webkit-transform: rotate(-135deg);
            -moz-transform: rotate(-135deg);
            -o-transform: rotate(-135deg);
            transform: rotate(-135deg);
        }

        .hamburger-part {
            display: block;
            position: absolute;
            height: 2px;
            width: 100%;
            background: $link_color;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
        }
    }
    
    
    nav {
        .hambugerOption {
            line-height: 50px;
            height: 50px;
            align-items: center;
            display: flex;
            a {
            &:hover, &:focus {
                background: transparent;
            }
                }
            }
        .nav-wrapper {
            position: relative;
            height: 100%;
        }
    }
    
    .homeSimpleHeader nav {
        height: 50px;
        line-height: 50px;
        background-color: $white_color;
        ul li {
            display: flex;
            align-items: center;
        }
    }
    
    .navbar-fixed {
        position: relative;
        height: 56px;
        z-index: 997;
    }

    .loginBtnLink {
        height: 50px;
        border-bottom: 2px solid transparent;
        padding: 0;
        i {
            height: 50px;
            line-height: 50px;
        }
    }
    
    .slideMenu {
        background-color: $dropdown_bg_color;
        margin: 0;
        position: fixed;
        width: 100%;
        top: 50px;
        height: calc((100% - 50px));
        opacity: 1;
        display: table;
        transform: translate3d(0,0,0) rotateX(0);
        overflow: hidden;
        margin-top: 2px;
        z-index: 2;
        text-align: left; 
        &.disabled {
            display: none !important;
        }
        &.enabled {
            display: block !important;

        }
        li {
            padding: 2px 5px 3px 30px;
            width: 100%;
            line-height: 45px;
        }
        li:first-child {
            padding: 8px 5px 5px 30px;
        }
        a {
            color: $white_color !important;
            font-size: 20px !important;
        }
    }
}

@media only screen and (min-width: 601px) {
    .navbar-fixed {
        height: 64px;
    }
}