$sub_header_border_color: #379695;;
$private_equity_bg_color: #e2f2f1;
$private_equity_border_color: #234d4b;
$private_equity_link_color: #052a29;
$thumbnail_img_border_color: #dddddd;
$research_content_color: #333333;
$white_color: #ffffff;
$amazon_link_border_color: #9dc5c4;
$research_doc_bg_color: #e2f2f1;

.publicResearchContainer {
    .subheader {
        padding-bottom: 16px;
        border-bottom: 2px solid $sub_header_border_color;
    }

    .thumbnail {
        a > img {
            margin-left: 0;
            border: 1px solid $thumbnail_img_border_color;
            height: 225px;
            max-width: 100%;
        }
    }

    .pdfwrap {
        vertical-align: sub;
        width: 25px;
        height: 100%;
        padding-left: 5px;
    }

    .researchContent{
        text-align: justify;
        font-size: 16px;
        line-height: 24px;
        color: $research_content_color;
        &:first-child {
            margin-top: 0;
        }

    }

    .homeSidebar {
        .amazonLink {
            background: $white_color;
            border: 1px solid $amazon_link_border_color;
            border-left: 11px solid $private_equity_border_color;
            padding: 0;

            .amazonwrap {
                vertical-align: middle;
                width: 30%;
                padding-left: 20px;
                padding-top: 1px;
            }
        }

        a {
            display: block;
            padding: 5px;
        }

        .pensionStudy {
            background: $research_doc_bg_color;
            border-left: 11px solid $private_equity_border_color;
            margin-top: 23px;
            margin-bottom: 6px;
        }

        .pdfwrap {
            vertical-align: sub;
            width: 25px;
            height: 100%;
            padding-left: 5px;
        }
        
    }
    
}