<div class="container-fluid publicResearchContainer">
    <div class="row">
        <div class="col xl8 m9 s12">
            <h5 class="visible-xs subheader">Featured Research</h5>
            <div class="col xl3 m3 s12">
                <div class="row">
                    <div class="col s12 m12" style="padding-top:1px">
                        <div class="thumbnail">
                            <a target="_blank" href="../../../assets/data/Direct Lending, A Survey of Borrowers - March 2019.pdf"> <img alt="Thumbnail" src="../../../assets/images/researchpdf.png"></a>
                        </div>
                    </div>
                    <div class="col s12 m12">
                        <div class="item-page-field-wrapper table word-break">
                            <h6><strong>View/<wbr>Open</strong></h6>
                            <div>
                                <a target="_blank" class="link" href="../../../assets/data/Direct Lending, A Survey of Borrowers - March 2019.pdf"><i aria-hidden="true" class="glyphicon  glyphicon-file"></i>Direct Lending, A Survey of Borrowers - March 2019.pdf (161Kb)&nbsp;&nbsp;<img src="../../../assets/images/pdf_icon.png" alt="pdf_icon" class="pdfwrap"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="simple-item-view-date word-break item-page-field-wrapper table mt-10">
                    <h6><strong>Date</strong></h6>March 2019
                </div>
                <div class="simple-item-view-authors item-page-field-wrapper table mt-20">
                    <h6><strong>Author</strong></h6>
                    <div>Gabrielle Zadra</div>
                    <div>Bernard Gehlmann</div>
                    <div>Jeff Topor</div>
                </div>
                <div class="simple-item-view-show-full item-page-field-wrapper table mt-20 mb-xs-20">
                    <h6><strong>Asset Class</strong></h6>
                    <div>Private Debt</div>
                </div>
            </div>
            <div class="col xl9 m9 s12">
                <div class="simple-item-view-description item-page-field-wrapper table">
                    <p class="researchContent">
                        In 2019, we updated our 2016 survey of middle market "sponsored" corporate borrowers focused on why borrowers were looking to direct lenders for financing rather than traditional banks.
                        GP borrowers shared that increased bank regulation, including capital requirements and limits on types of lending, had curtailed some
                        bank lending. On the other hand, GP borrowers cited the flexibility of non-bank lenders to structure creative
                        deals, their ability to take on larger portions of a loan (both senior and junior), and the speed at
                        which they can close deals as attractive reasons for moving business to non-bank lenders and
                        away from traditional banks. Despite these trends, the most important consideration continues to
                        be the relationship between the GP sponsor and lender, regardless of whether it is a bank or nonbank supplier of debt financing.
                    </p>
                    <p class="researchContent">
                        Sponsors described a large universe of willing non-bank lenders and an ability to choose lenders
                        that best fit each company. Despite the amount of competition amongst non-bank lenders to win
                        financing mandates, lenders have not compromised their due diligence processes nor have they
                        moved significantly to more borrower friendly terms compared to three years ago. The erosion of
                        sponsor relationships with bank lenders has created room to accommodate the growing field of nonbank lenders.
                    </p>
                    <p class="researchContent">
                        Our 2019 survey has expanded from 20 to 30 private equity firms focused on middle market
                        buyouts. Responses were gained through one-on-one interviews which we have found to be more
                        responsive and detailed than the cyber-surveys commonly used. The 2019 survey also
                        asked more trend-oriented questions that have been raised by clients and
                        investors since our last survey. Importantly, our summaries mask a wide range in responses for
                        almost every question, making the expression "it depends" very applicable.
                    </p>
                </div>
            </div>
        </div>
        <div class="col s13 m3 xl4">
            <h5 class="visible-xs subheader"> <a id="researchSubHdr" class="black-text" target="_blank" href="/Research">Trending Research</a></h5>
            <div id="divPDFs" class="homePage homeSidebar">
                <p class="cliffWater amazonLink">
                    <a id="aDirectLending" class="black-text modal-trigger" href="#bdcsConfirmMdl" data-title="Private Debt" title="Private Debt">
                        &nbsp;&nbsp;Private Debt<img src="../../../assets/images/availableatamazonlogo.png" alt="availableatamazonlogo" class="amazonwrap">
                    </a>

                </p>
                <p class="pensionStudy">
                    <a id="aStatePensionRpt" (click)="openEmailReqPopup('An%20Examination%20of%20State%20Pension%20Performance%202000-2018.pdf','An Examination of State Pension Performance 2000 to 2018','home')" title="An Examination of State Pension Performance 2000 to 2018" class="black-text customModalLnk"><img src="../../../assets/images/pdf_icon.png" alt="pdf_icon" class="pdfwrap">&nbsp;&nbsp;An Examination of State Pension Performance 2000 to 2018</a>
                </p>
                <p class="pensionStudy">
                    <a id="pvtEqtPerfRpt" (click)="openEmailReqPopup('An Examination of Private Equity Performance among State Pensions 2002-2017.pdf','An Examination of Private Equity Performance among State Pensions 2002-2017','research')" title="An Examination of Private Equity Performance among State Pensions 2002-2017" class="black-text customModalLnk"><img src="../../../assets/images/pdf_icon.png" alt="pdf_icon" class="pdfwrap">&nbsp;&nbsp;An Examination of Private Equity Performance among State Pensions 2002-2017</a>
                </p>
                <p class="pensionStudy">
                    <a id="dirLendingRpt" (click)="openEmailReqPopup('2019 Q2 Report on U.S. Direct Lending.pdf','2019 Q2 Report on U.S. Direct Lending','research')" title="2019 Q2 Report on U.S. Direct Lending.pdf" class="black-text customModalLnk"><img src="../../../assets/images/pdf_icon.png" alt="pdf_icon" class="pdfwrap">&nbsp;&nbsp;2019 Q2 Report on U.S. Direct Lending</a>
                </p>
                <p class="pensionStudy">
                    <a id="longTermCapMktRpt" (click)="openEmailReqPopup('Long Term (10 Yr.) Capital Market Assumptions 1Q 2019.pdf','Long Term (10 Yr.) Capital Market Assumptions 1Q 2019','research')" title="Long Term (10 Yr.) Capital Market Assumptions 1Q 2019" class="black-text customModalLnk"><img src="../../../assets/images/pdf_icon.png" alt="pdf_icon" class="pdfwrap">&nbsp;&nbsp;Long Term (10 Yr.) Capital Market Assumptions 1Q 2019</a>
                </p>
                <p class="pensionStudy">
                    <a id="riskParityRpt" (click)="openEmailReqPopup('Risk Parity.pdf','Risk Parity','research')" title="Risk Parity" class="black-text customModalLnk"><img src="../../../assets/images/pdf_icon.png" class="pdfwrap">&nbsp;&nbsp;Risk Parity</a>
                </p>
                <p class="pensionStudy">
                    <a id="smartBetaRpt" (click)="openEmailReqPopup('Smart Beta and Alternative Risk Premia.pdf','Smart Beta and Alternative Risk Premia','home')" class="black-text customModalLnk" title="Smart Beta and Alternative Risk Premia"><img src="../../../assets/images/pdf_icon.png" alt="pdf_icon" class="pdfwrap">&nbsp;&nbsp;Smart Beta &amp; Alternative Risk Premia</a>
                </p>
                <p class="pensionStudy">
                    <a id="invInfraRpt" (click)="openEmailReqPopup('Investments in Infrastructure.pdf','Investments in Infrastructure','research')" title="Investments in Infrastructure" class="black-text customModalLnk"><img src="../../../assets/images/pdf_icon.png" alt="pdf_icon" class="pdfwrap">&nbsp;&nbsp;Investments in Infrastructure</a>
                </p>
                <p class="pensionStudy">
                    <a id="dLSurveyRpt" (click)="openEmailReqPopup('Direct Lending, A Survey of Borrowers - March 2019.pdf','Direct Lending, A Survey of Borrowers - March 2019','research')" title='Direct Lending, A Survey of Borrowers - March 2019' class="black-text customModalLnk"><img src="../../../assets/images/pdf_icon.png" alt="pdf_icon" class="pdfwrap">&nbsp;&nbsp;Direct Lending, A Survey of Borrowers - March 2019</a>
                </p>
                <p class="pensionStudy">
                    <a id="subCLRpt" (click)="openEmailReqPopup('Subscription Credit Lines.pdf','Subscription Credit Lines','research')" title="Subscription Credit Lines" class="black-text customModalLnk"><img src="../../../assets/images/pdf_icon.png" alt="pdf_icon" class="pdfwrap">&nbsp;&nbsp;Subscription Credit Lines</a>
                </p>

                <p class="pensionStudy">
                    <a id="accessOthrRpt" data-id="research" title="Access All Other Research" routerLink="/Research" target="_blank" class="black-text ">&nbsp;&nbsp;Access All Other Research</a>
                </p>
            </div>
        </div>
    </div>
</div>

<!--------------------Email Required Popup Template - Starts here----------------------->
<ng-template #emailReqPopup>
    <h4 mat-dialog-title class="center-align emailReqPopupTitle">
        <img src="../../../assets/images/logo.png" height="50px" alt="Cliffwater Logo">
    </h4>
    <mat-dialog-content class="emailReqPopupBody">
        <form [formGroup]="emailReqForm" (ngSubmit)="emailReqFormSubmit()" novalidate>
            <div class="input-field">
                <i class="material-icons prefix">email</i>
                <input type="text" class="email validate" [ngClass]="{ 'invalid': submitted && f.email.errors }" formControlName="email">
                <label>Email*</label>
                <div *ngIf="submitted && f.email.errors" class="red-text helpText">
                    <div *ngIf="f.email.errors.required">{{environment.helpText.emailReq}}</div>
                    <div *ngIf="f.email.errors.email && !f.email.errors.required">{{environment.helpText.emailInvalid}}</div>
                </div>
            </div>
            <div class="input-field">
                <p>By clicking Accept, I accept the <a class="link" routerLink="/Terms" target="_blank">Terms of Use</a></p>
            </div>
            <div class="center-align btnContainer">
                <button class="waves-effect waves-light btn btn-primary" type="submit">
                    <i class="material-icons right">check</i>Accept
                </button>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                <button class="waves-effect waves-light btn btn-primary" (click)="dialogClose()">
                    <i class="material-icons right">cancel</i>Cancel
                </button>
            </div>
        </form>
    </mat-dialog-content>
</ng-template>