
.contactUsContainer {
    
    .contact-map-frame {
        width: 100%;
        height: 190px;
    }

    .card {
        .card-content {
            padding: 10px;
        }
    }

    .input-field {
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
    }
}