$black_color : #000000;
$report_border_color : #dddddd;
$link_color : #0366d6;

.dashboardContainer {
    .dashboardFullSec {
        display: flex;

        .collection-item:first-child {
            padding-top: 25px;
        }

        a {
            &.dashboardHeader {
                color: $black_color !important;
                font-size: 22px;
                text-transform: none !important;
                font-weight: 400;
            }
        }
    
        .material-icons {
            color: $black_color;
            vertical-align: top;
            margin-right: 8px;
        }

        .managerUpdatesContainer {
            padding: 0;
        }

        .mainRpt {
            color: $black_color !important;
            font-size: 20px;
            text-transform: none !important;
            /*padding-bottom: 15px;
            border-bottom: solid 1px $report_border_color;*/
        }

        .subRpts {
            padding-bottom: 15px;
            border-bottom: solid 1px $report_border_color;
        }

        .linkIcon {
            color: $link_color !important;
        }

        .link {
            text-transform: none;
            font-size: 1.25rem;
        }

        .product-table {
            tr {
                border-bottom: none;
                td,th {
                    padding: 10px 5px;
                }
            }
            .width75percnt {
                width: 75%;
            }
            .width25percnt {
                width: 25%;
            }
        }
    }
}