<div class="container-fluid dashboardContainer">
    <div class="section">
        <div class="row dashboardFullSec">
            <div class="col m4 s12 collection material-table z-depth-3">
                <div class="collection-item">
                    <i class="material-icons">dashboard</i>
                    <a class="mainRpt dashboardHeader">Portfolio Investments &amp; Reports</a>
                    <div>
                        <p>Access to client portfolios, performance analytics and client specific reports.</p>
                        <!-------------------HF Product Section--------------->
                        <div id="divHFPortfolios" class="">
                            <p class="pARpts subRpts">
                                <a class="mainRpt">Hedge Funds</a>
                            </p>
                            <table class="material-table responsive-table product-table" id="hfPortfolios">
                                <tr *ngFor="let hfData of hFProductDetailsData">
                                    <td class="width75percnt">
                                        <a title="{{hfData.productName}}" class="clientRpt btn-flat link">
                                            <span>{{hfData.shortName}}</span>&nbsp;&nbsp;
                                            <i class="material-icons linkIcon">send</i>
                                        </a>
                                    </td>
                                    <td class="width25percnt center-align">
                                        <a class="tooltipped hoverable btn-floating btn-small waves-effect waves-light white">
                                            <i class="material-icons btnIcon">view_headline</i>
                                        </a>&nbsp;&nbsp;
                                        <a class="tooltipped hoverable btn-floating btn-small waves-effect waves-light white">
                                            <i class="material-icons btnIcon">file_download</i>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!-------------------PA Product Section--------------->
                        <div id="divPAPortfolios" class="">
                            <p class="pARpts subRpts">
                                <a class="mainRpt underline-link" href="/Dashboard/DashboardPageLinkClick?type=Private Assets Title&amp;URL=/Investment">Private Assets</a>
                            </p>
                            <table class="material-table responsive-table product-table" id="paPortfolios">
                                <tr *ngFor="let paData of pAProductDetailsData">
                                    <td class="width75percnt">
                                        <a title="{{paData.productName}}" class="clientRpt btn-flat link">
                                            <span>{{paData.shortName}}</span>&nbsp;&nbsp;
                                            <i class="material-icons linkIcon">send</i>
                                        </a>
                                    </td>
                                    <td class="width25percnt center-align">
                                        <a class="tooltipped hoverable btn-floating btn-small waves-effect waves-light white">
                                            <i class="material-icons btnIcon">view_headline</i>
                                        </a>&nbsp;&nbsp;
                                        <a class="tooltipped hoverable btn-floating btn-small waves-effect waves-light white">
                                            <i class="material-icons btnIcon">file_download</i>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <!------------------Portfolio Tools Section--------------->
                <div class="collection-item">
                    <i class="material-icons">keyboard</i>
                    <a href="/Dashboard/DashboardPageLinkClick?type=>Portfolio Tools&amp;URL=/PortfolioTools" class="underline-link dashboardHeader">Portfolio Tools</a>
                    <p>Access to Cliffwater analytics tools, including Hedge Fund Solver and Asset Allocation Solver.</p>
                </div>
                <!-------------------Manager Research Section--------------->
                <div class="collection-item">
                    <i class="material-icons">assignment</i>
                    <a class="mainRpt dashboardHeader">Manager Research</a>
                    <div>
                        <p>
                            Access to Cliffwater research on Hedge Fund and Private Asset managers.  Ability to screen on a wide range of manager and fund characteristics.
                        </p>
                        <div id="divHFManResearch" class="">
                            <p class="pARpts subRpts">
                                <a class="mainRpt">Hedge Funds</a>
                            </p>
                            <div class="subRptSec">
                                <p>
                                    <a class="btn-flat nav-link link" routerLink='/ManagerLibrary/FocusListFund'>Focus List
                                        <i class="material-icons right linkIcon">send</i>
                                    </a>
                                </p>
                                <p>
                                    <a class="btn-flat nav-link link" routerLink='/ManagerLibrary/ManagerResearch'>Manager Research
                                        <i class="material-icons right linkIcon">send</i>
                                    </a>
                                </p>
                                <p>
                                    <a class="btn-flat nav-link link" routerLink='/ManagerLibrary/LiquidAlt'>Liquid Alternatives
                                        <i class="material-icons right linkIcon">send</i>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div id="divPAManagerResearch" class="">
                            <p class="pARpts subRpts">
                                <a class="mainRpt">Private Assets</a>
                            </p>
                            <div class="subRptSec">
                                    <p>
                                        <a class="btn-flat nav-link link" routerLink='/ManagerLibrary/FocusList'>Focus List
                                            <i class="material-icons right linkIcon">send</i>
                                        </a>
                                    </p>
                                    <p>
                                        <a class="btn-flat nav-link link" routerLink='/ManagerLibrary/ProfileRptLib'>Profile Report Library
                                            <i class="material-icons right linkIcon">send</i>
                                        </a>
                                    </p>
                                    <p>
                                        <a class="btn-flat nav-link link" routerLink='/ManagerLibrary/PAResearchActivity'>Research Activity
                                            <i class="material-icons right linkIcon">send</i>
                                        </a>
                                    </p>
                            </div>
                        </div>
                        <div id="divDLManagerResearch">
                            <p class="pARpts subRpts">
                                <a class="mainRpt">Direct Lending</a>
                            </p>
                            <div class="subRptSec">
                                <p>
                                    <a class="btn-flat nav-link link" routerLink='/ManagerLibrary/DirectLendingFocusList'>Focus List
                                        <i class="material-icons right linkIcon">send</i>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-------------------Research & Publications Section--------------->
                <div class="collection-item">
                    <i class="material-icons">book</i>
                    <a href="/Dashboard/DashboardPageLinkClick?type=Research and Publications&amp;URL=/Research" class="underline-link dashboardHeader">Research &amp; Publications</a>
                    <p>Access to Cliffwater asset allocation research, monthly and quarterly Hedge Fund and Private Asset commentaries, and alternative industry research and white papers.</p>
                    <div class="subRptSec">
                        <p>
                            <a class="btn-flat nav-link link" target="_blank" href="/Dashboard/DashboardPageLinkClick?type=Weekly Macro January 5&amp;URL=/EmbeddedDocs/GetDoc/135">Weekly Macro View (January 5)<i class="material-icons right linkIcon">send</i></a>
                        </p>
                        <p>
                            <a class="btn-flat nav-link link" target="_blank" href="/Dashboard/DashboardPageLinkClick?type=Weekly Macro December 28&amp;URL=/EmbeddedDocs/GetDoc/134">Weekly Macro View (December 28)<i class="material-icons right linkIcon">send</i></a>
                        </p>
                        <p>
                            <a class="btn-flat nav-link link" target="_blank" href="/Dashboard/DashboardPageLinkClick?type=Weekly Macro December 22&amp;URL=/EmbeddedDocs/GetDoc/133">Weekly Macro View (December 22)<i class="material-icons right linkIcon">send</i></a>
                        </p>
                    </div>
                </div>
            </div>
            <!-------------------Manager Updates Section--------------->
            <div class="col m8 s12 card material-table z-depth-3 managerUpdatesContainer">
                <div class="card-title">
                    <div class="row no-bottom-margin">
                        <div class="col s12 m6">
                            <h5>
                                <i class="material-icons">comment</i>
                                <a class="dashboardHeader">Manager Updates</a>
                            </h5>
                        </div>
                        <div class="col s12 m6 filterBlk right-align">
                            
                        </div>
                    </div>
                </div>
                <div class="card-action">
                    <ngx-datatable [headerHeight]="60" 
                        [rows]="managerUpdatesDataRows" 
                        [limit]="this.currentPageLimit" 
                        [footerHeight]="50"
                        [columnMode]="'flex'"
                        [rowHeight]="'auto'"
                        [sorts]="[{prop: 'date', dir: 'desc'}]"
                        class="material">
                        <ngx-datatable-column  [resizeable]="false" name="Date" [flexGrow]="0.5" [sortable]="true">
                            <ng-template let-column="column" let-sort="sortFn" let-sortDir="sortDir" ngx-datatable-header-template>
                                <span (click)="sort($event, sortDir, sortFn)">Date</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.date | date: 'dd/MM/yyyy'}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [resizeable]="false" name="Fund" [flexGrow]="0.75" cellClass="underline-link" [sortable]="true">
                            <ng-template let-column="column" let-sort="sortFn" let-sortDir="sortDir" ngx-datatable-header-template>
                                <span (click)="sort($event, sortDir, sortFn)">Fund</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.fund | uppercase}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [resizeable]="false" name="Asset Class" [flexGrow]="0.5" [sortable]="true">
                            <ng-template let-column="column" let-sort="sortFn" let-sortDir="sortDir" ngx-datatable-header-template>
                                <span (click)="sort($event, sortDir, sortFn)">Asset Class</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.assetClass}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [resizeable]="false" name="Title" [flexGrow]="1" [sortable]="true">
                            <ng-template let-column="column" let-sort="sortFn" let-sortDir="sortDir" ngx-datatable-header-template>
                                <span (click)="sort($event, sortDir, sortFn)">Title</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.title}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [resizeable]="false" name="Type" [flexGrow]="0.5" [sortable]="true">
                            <ng-template let-column="column" let-sort="sortFn" let-sortDir="sortDir" ngx-datatable-header-template>
                                <span (click)="sort($event, sortDir, sortFn)">Type</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.type}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [resizeable]="false" name="Action" [flexGrow]="0.5" headerClass="center-align" cellClass="center-align">
                            <ng-template let-column="column" ngx-datatable-header-template>
                                Action
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <ng-container *ngIf="row.isHtml && !row.showReader">
                                    <a class="hoverable btn-floating btn-small waves-effect waves-light white">
                                        <i class='material-icons btnIcon'>view_headline</i>
                                    </a><span>&nbsp;&nbsp;</span>
                                    <a class="hoverable btn-floating btn-small waves-effect waves-light white">
                                        <i class='material-icons btnIcon'>fullscreen</i>
                                    </a>
                                </ng-container>
                                <ng-container *ngIf="row.showReader && !row.isHtml">
                                    <a class="hoverable btn-floating btn-small waves-effect waves-light white">
                                        <i class='material-icons btnIcon'>view_headline</i>
                                    </a><span>&nbsp;&nbsp;</span>
                                    <a class="hoverable btn-floating btn-small waves-effect waves-light white">
                                        <i class='material-icons btnIcon'>file_download</i>
                                    </a>
                                </ng-container>
                                <ng-container *ngIf="!row.showReader && !row.isHtml">
                                    <a class="hoverable btn-floating btn-small waves-effect waves-light white">
                                        <i class='material-icons btnIcon'>file_download</i>
                                    </a>
                                </ng-container>
                                
                                
                            </ng-template>
                        </ngx-datatable-column>
                        <!---------------------------------Datatable Footer Template-->
                        <ngx-datatable-footer>
                            <ng-template
                                ngx-datatable-footer-template
                                let-rowCount="rowCount"
                                let-pageSize="pageSize"
                                let-selectedCount="selectedCount"
                                let-curPage="curPage"
                                let-offset="offset"
                            >   
                                <div>Reports per page:  </div>
                                <div class="page-limit-container">
                                    <select (change)="onLimitChange($event.target.value)" class="page-limit">
                                    <option
                                        *ngFor="let option of pageLimitOptions"
                                        [value]="option.value"
                                        [selected]="option.value == currentPageLimit"
                                    >
                                        {{option.text}}
                                    </option>
                                    </select>
                                </div>
                                <div class="page-count">
                                    {{(pageSize * curPage) - (pageSize - 1)}} - {{pageSize * curPage}} of {{rowCount}}   
                                </div>
                                <datatable-pager
                                    [pagerLeftArrowIcon]="'datatable-icon-left'"
                                    [pagerRightArrowIcon]="'datatable-icon-right'"
                                    [page]="curPage"
                                    [size]="pageSize"
                                    [count]="rowCount"
                                    [hidden]="!((rowCount / pageSize) > 1)"
                                    (change)="table.onFooterPage($event)">
                                </datatable-pager>
                            </ng-template>
                        </ngx-datatable-footer>
                    </ngx-datatable>
                </div>
            </div>
        </div>
    </div>
</div>