<footer class="outerFooterContainer">
    <div class="bg-gray-light">
        <div>
            <ul class="list-style-none text-gray center-align">
                <li class="left">CLIFFWATER and the CLIFFWATER LLC logo are trademarks of Cliffwater LLC. <span class="ml16">Copyright © 2004 - {{currentYear}} Cliffwater LLC. All Rights Reserved.</span></li>
                <li class="right"><a routerLink="/Terms" class="text-gray">Terms &amp; Conditions</a></li>
            </ul>
        </div>
    </div>
</footer>
