$gray_light_color: #fafbfc;

.outerFooterContainer {
    position: absolute;
    bottom: -75px;
    width: 100%;
    font-size: 11px;

    .bg-gray-light {
        padding: 0 2rem;
        background-color: $gray_light_color;
        height: 50px;
        line-height: 50px;
    }

    .ml16 {
        margin-left: .8rem;
    }
}